[2020-03-12 16:00] Larpoux opened #240 "[FLAUTO] mediaRecorder is null"
### Version of flutter_sound
Flauto

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior

### Actual behavior
Sound Module stops working

### Tested environment (Emulator? Real Device?)
Real Mediapad M5

### Steps to reproduce the behavior
pause/resume on Diglot Korean

Here are the logs :
[code]
I do not think it is the same bug than #239. But maybe ?

[2020-03-12 19:04] salvatore373 commented on #236
I can't test the example app on iOS at the moment, but I believe that the progress bar in the lock-screen is never updated, even without switching the iPhone OFF and ON.
Maybe we could solve this issue by calling `setupNowPlaying()` (in native iOS code) in `updateProgress()` whenever we get an update about the progress of the track.
I will check it this evening and keep you updated.

[2020-03-12 23:19] salvatore373 commented on #236
I followed the instructions that I put in my previous comment and I think that I fixed this issue in my [last commit](https://github.com/salvatore373/flutter_sound/tree/95380c82a777845a086d58741d0654b4cfb22cbf). Please check the code and let me know if you agree with the changes and if the error still occurs.

[2020-03-13 06:40] Larpoux commented on #236
Hi @salvatore373 ,

I tested your example and it is OK.
I cannot test on my own apps, because I do not use ```Remote Album Arts``` on the lock-screen, but an Icon resource.

On my branch, the object "Track" has two members :
- albumArtUrl
- albumArtAsset

The caller can fill one of those two files if he/she wants to have an image on its lock-screen.

[2020-03-13 10:19] Larpoux commented on #239
Something similar, but the exception is :
```attachNewPlayer called in state 8```

[code]

[2020-03-13 10:25] Larpoux commented on #238
Ok, today is a better day 😺 .
I am not sure of what I changed, but today the notification is correctly shown on my devices.
I am happy.

[2020-03-13 10:25] #238 closed

[2020-03-13 10:38] Larpoux commented on #237
Ok, today it works. 😃

[2020-03-13 10:38] #237 closed

[2020-03-13 11:33] AdnanKazi commented on #158
`MissingPluginException(No implementation found for method isEncoderSupported on channel flutter_sound)`

Cannot record in IOS 13

[2020-03-13 15:12] Larpoux commented on #204
I am not having this crash since January.
The code is now protected by a try/catch.

I will re-open this bug if it will occurs again.

[2020-03-13 15:12] #204 closed

[2020-03-14 00:12] #164 closed

[2020-03-14 00:12] #166 closed

[2020-03-14 00:12] #159 closed

[2020-03-14 01:51] sysebert commented on #154
I’m sad I missed this message :(

I'm looking to use the Google one. I don't need to encode it other than it's 16bit 16khz/mono.

Time is flexible, but for all I know you have done it already!

[2020-03-14 04:55] Larpoux opened #241 "[FLAUTO] Skip forward/backward on the Android lock-screen"
### Version of flutter_sound
Flauto

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
The user callbacks should be called

### Actual behavior
The user callbacks are not called.

### Tested environment (Emulator? Real Device?)
Real Xiaomi MiMax3

### Steps to reproduce the behavior
- Launch @salvatore373  's  example
- Start playing the Remote File Example

[2020-03-14 05:07] Larpoux commented on #241
This bug does not occur with my ```flauto``` branch.
So it's OK for me and I can close this issue.

[2020-03-14 05:07] #241 closed

[2020-03-14 05:48] henoktadesse6 commented on #191
Same issue using  flutter_sound: ^2.1.1, whenever did flutter clean and run again it works.

[2020-03-14 13:46] tonypottera24 opened #242 "Pause / resume recording"
### Version of flutter_sound
`flutter_sound: ^2.1.1`

I'm wondering if there's any way to pause / resume the audio recording.

[2020-03-15 10:14] Larpoux commented on #236
The problem still occurs in #243 .
Maybe we need to merge @salvatore373 commit into this branch.

[2020-03-15 14:54] Larpoux commented on #219
@hyochan : This request will be fulfilled by Flauto.
You will be allowed to close this issue when Flauto will be released (I home soon 😺 )

[2020-03-15 14:58] Larpoux commented on #231
Flauto branch is now compatible with AndroidX and Android embbeded V2.
@hyochan :
You probably will be allowed to close this issue when Flauto will be released (I hope soon 😺 )

[2020-03-15 15:02] Larpoux commented on #230
OK @spideythewebhead ,
Flauto release is probably ready to be released.
You will see if your problem is correctly addressed.
@hyochan : we really need Flauto, now. We hope that it will be released soon 😺

[2020-03-15 15:04] Larpoux commented on #229
@hyochan : I suggest to close this issue.
I think that Flauto is clean on this point.

[2020-03-15 15:05] Larpoux commented on #226
@hyochan : I suggest to close this issue, which is not relevant anymore.

[2020-03-15 15:11] Larpoux commented on #220
Probably the caller try to write its record in an area forbidden by Android.
Correct directories can found with Flutter plugin `path_provider`.
I suggest to close this issue with is not on the flutter_sound side.

[2020-03-15 15:15] Larpoux commented on #210
This feature will be very useful if we want to apply our own codec during recording.
iOS and Android codecs are very limited.

[2020-03-15 15:19] Larpoux commented on #203
Flauto is now ready to be released.
Flauto is compatible with AndroidX and Android embbeded V2.
Could you check if this is OK for you when Flauto will be released ?
@hyochan : I hope soon 😺 !

[2020-03-15 15:21] Larpoux commented on #201
@hyochan : I think you can close this issue.
With last versions of flutter_sound, a correct complete path must be provided to StartRecorder() and StartPlayer().

[2020-03-15 15:25] Larpoux commented on #196
@hyochan : I think that you can close this issue.
Now, flutter_sound needs a complete path for startRecorder() and startPlayer().
Flutter_sound does not do anymore special things on this path.
If iOS or Android are OK to write on this path, flutter_sound will be pleased.

[2020-03-15 15:29] Larpoux commented on #165
@hyochan : I think you can close this issue.
Now, flutter_sound needs a correct complete path for startRecorder and startPlayer

[2020-03-15 15:34] Larpoux commented on #154
Yes, I think also that it would be very useful to have access to the audio-stream during the recording, and not after.
Maybe in a future version ?

[2020-03-15 15:37] Larpoux commented on #87
A new flutter_sound version is now ready to be released.
It will show controls on the lock-screen.
@hyochan : I really hope that this version will be released soon 😺

[2020-03-15 16:01] Larpoux commented on #232
The new flutter_sound version has two different modules:
- The legacy `flutter_sound` with some improvments like some tools to control the Audio-focus
- `Flauto`, wich adds @salvatore373 improvements .

Those two modules are completely separated. This has two benefits:
- Separated functionalities means easier maintenance
- The legacy `flutter_sound` module is totally backward compatible

My projec

[2020-03-15 16:39] hyochan commented on #220
@Larpoux Why wouldn't you get my invitation and we can maintain this together? Since I believe you are so much matured to understand what is going on in our repo. Then you can close it if you make a decision or you can also request help if you think someone should look into it.

[2020-03-15 16:44] Larpoux commented on #220
Yes, Hyo.
I am very proud that you have confidence on me.
The only problem is that I would not like to be, one day, the main flutter_sound maintener.
I would do a poor job, because flutter_sound is not my main project.
We definitely need you as the main flutter_sound maintener.

[2020-03-17 12:38] tonypottera24 opened #244 "ffmpeg getLastCommandOutput"
### Version of flutter_sound
`flutter_sound: ^2.1.1`

I'm planning to get the duration of an audio file.
The only way I can get the duration by `flutter_sound` is to `startPlayer` and listen to the `onPlayerStateChanged`.

Days after, I found out that `flutter_sound` provides an api called `executeFFmpegWithArguments`.

It might be possible to get the duration by `ffmpeg -i file.aac`.

However, `f

[2020-03-18 02:04] #226 closed

[2020-03-18 04:27] uniquejava commented on #210
I'd like to do some real-time speech to text stuff, also need this kind of streaming capability/API.

[2020-03-18 07:45] Larpoux commented on #210
I plan to work soon on the flutter_sound recorder.
I will look what we can do in this area.
I agree that it will be very great if we can stream the recording data during the recording.
Speech to text, or custom encoding, or ...

Probably we will have to use lower iOS and android tools than those actually used by flutter_sound
But I would really like to do that. I will tell you what is possible whe

[2020-03-18 11:43] VitosPyatak commented on #231
I've got the same issue on flutter_sound 1.8.0

[2020-03-18 18:02] Josue10599 commented on #235
I'm only getting the following return in the Logs

[code]

I don't know if the reason for the problem is due to migration to AndroidX or my main class in Kotlin or to be using Application for FirebaseMessage.

[2020-03-19 08:04] UttamPanchasara commented on #231
Same issue on v2.1.1, @Larpoux @hyochan When can we expect the new release with Flauto branch fix?

[2020-03-19 08:15] Larpoux commented on #231
@UttamPanchasara ,
@VitosPyatak
@alby97  :

Hi, guys,
May I ask you a favour ? Please give a try to the [`flauto` branch](https://github.com/Canardoux/flutter_sound/tree/flauto), so that we will be sure that your problems will be fixed when the `flauto` branch will be released.
If not, I will fix it before release.

[2020-03-19 12:45] Josue10599 commented on #180
I am experiencing this same problem.

I opened another issue where I reported the details: #235

[2020-03-19 20:22] VitosPyatak commented on #231
@Larpoux There are some warnings of deprecated api this plugin is using but everything worked just fine

[2020-03-19 20:29] spideythewebhead commented on #230
hi thanks for the response. i am sorry i couldnt check it, happend to have much work nowdays..

[2020-03-20 06:14] UttamPanchasara commented on #231
@Larpoux Sorry but I can not give a try now as we on production with this plugin, will try with demo run but not sure about.

[2020-03-20 08:00] Larpoux commented on #231
Thank you for the time you spent on this. I am glad that you confirm that this next flauto_sound release is OK for you.
@hyochan : end of march ?

[2020-03-21 00:08] #158 closed

[2020-03-21 21:04] JayThadeshwar opened #245 "startRecorder fails when using AndroidAudioSource.VOICE_DOWNLINK"
### Version of flutter_sound
flutter_sound: ^2.1.1

## flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.12.13+hotfix.5, on Linux, locale en_IN)

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.3)
[!] Android Studio (version 3.5)
    ✗ Flutter plugin not installed; this adds Flutter specific functionality.
    ✗

[2020-03-22 04:04] tonypottera24 opened #246 "onRecorderDbPeakChanged stops responding after startPlayerFromBuffer is called"
### Version of flutter_sound
`flutter_sound: ^2.1.1` and `flutter_sound: ^3.0.0`
## flutter doctor
[code]

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
onRecorderDbPeakChanged should keep returning values.

### Actual behavior
onRecorderDbPeakChanged stops responding.

### Tested environment (Emulator? Real Device?)
iOS 13.3 emulator

### Steps to reproduc

[2020-03-23 00:09] #154 closed

[2020-03-23 09:54] mehemmelbachir commented on #87
I keep waiting for this feature,

[2020-03-23 09:58] Larpoux commented on #87
@hyochan : where are you, my friend ?
We have had no news from you for 2 weeks. 😢

[2020-03-23 15:36] Larpoux commented on #87
@Sun3 , @mehemmelbachir , @BND10706 , @salvatore373 :

No news from @hyochan 😞
In the interim I suggest that you use the `flauto` fork, and verify that your needs are fulfilled.

The sources [are here](https://github.com/Canardoux/flauto).
- branch `stable` is the actual flutter_sound 2.1.1
- branch `beta` is the new plugin with advance features (V 3.0.0)
- branch `master` is just for the project

[2020-03-23 16:17] hyochan commented on #87
@Larpoux Sorry my friend 😥  These days I am planning to switch my work position and willing to start a new position in April! Therefore, I am really sorry that I couldn't give much attention to `flutter_sound`. I'll spend time this week and willing to communicate as I went through testing.

[2020-03-23 16:18] hyochan commented on #87
By the way, here is my [Linkedin](https://www.linkedin.com/in/hyo-chan-jang-b88a82192) if you want to communicate a bit more rapidly.

[2020-03-23 16:44] Larpoux commented on #87
@hyochan : I am very glad that you have new perspectives with your work.
I was worrying for you : I know that Korea is very impacted by the Coronavirus.
It would be horrible if something like that happens to us.

Do not spend time on flutter_sound. I will manage this project until you will have more time.
Just a message from time to time to tell us that you are alive, in good health.

Have a nice

[2020-03-23 16:52] Larpoux commented on #87
@hyochan : what do you think is better :
- I continue to maintain the flutter_sound fork (`flauto`) until you will have more time ?
- You continue to be the main flutter_sound maintainer and keep this project alive? (problem because actually you have others priorities than flutter_sound)
- Or I maintain flutter_sound Master branch for you, until you have more time ?

[2020-03-24 08:43] Larpoux commented on #244
This `issue` is very interesting.
When I included ffmpeg as a flutter_sound dependency, I was sure that ffmpeg will open doors to many improvements.
Actually I have not much time . But I definitely want to look to this issue deeper later

[2020-03-24 12:54] Larpoux commented on #244
@tonypottera24 :
I agree with you : having an API verb to execute FFmpeg, but no way to get the result was stupid. I just added two API verb in the beta branch of flauto 3.0.1 (a flutter_sound branch) :
- getLastFFmpegReturnCode()
- getLastFFmpegCommandOutput()

Now some remarks :
1. `executeFFmpegWithArguments` was not supposed to be called by the App developper. I use internally this function to

[2020-03-24 18:39] lukepighetti opened #247 "add dispose method"
Would be helpful to have a dispose method which closes up the stream controllers. Thanks.

[2020-03-24 18:44] lukepighetti commented on #247
backed by PR https://github.com/dooboolab/flutter_sound/pull/248

[2020-03-24 19:29] lukepighetti opened #249 "The getter 'stream' was called on null."
### Version of flutter_sound
flutter_sound: ^2.1.1

## flutter doctor
[code]

### Platforms you faced the error (IOS or Android or both?)
iOS, but I suspect the issue is present on both

### Expected behavior
StreamController is available to be listened to

### Actual behavior
Throws this error

[code]

### Tested environment (Emulator? Real Device?)
Emulator

### Steps to reproduce the behavior
[

[2020-03-24 19:45] Larpoux opened #250 "[FLAUTO] Re-open #232 - Multiple instances"
### Version of flutter_sound
Flauto

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Can instantiate the player or the recorder several time, and play with them independently.

### Actual behavior
Problems with statics

This is a re-open of #232, which has been closed by @kiha-la.
I think that this issue is important because it shows a flutter_sound desig

[2020-03-24 19:46] Larpoux commented on #232
@kiha-la : I re-open your issue under #250 .
I really think that flutter_sound design is incorrect and should be fixed.

[2020-03-24 20:03] lukepighetti commented on #249
It appears you need to start recording before you listen for events

[2020-03-24 20:03] #249 closed

[2020-03-24 22:26] lukepighetti opened #251 "Feature request, decibel meter sample time"
Hello! I am trying to capture loud noises (clipping) with a 1/100 sec precision and a 1/10 sec refractory period. I've been able to capture these noises at a rate close to 1/100 sec and a refractory period of 1/2 sec with this project. Do you have any guidance for how we can improve the performance for my use case?

TLDR: I would like to be able to set the decibel meter sample time to 0.05 sec. ie

[2020-03-25 00:50] lukepighetti commented on #251
Handled by https://github.com/dooboolab/flutter_sound/pull/252

[2020-03-25 10:20] robyroad commented on #245
I think you're using the wrong codec. You're saving a file with .mp3 extension but the codec is AAC:
t_CODEC _codec = t_CODEC.CODEC_AAC;

Probably you must use t_CODEC _codec = t_CODEC.CODEC_MP3;

Hope it helps

[2020-03-25 11:49] #229 closed

[2020-03-25 11:50] hyochan commented on #230
`flauto` has been released as version `3.0.0`

[2020-03-25 11:50] #230 closed

[2020-03-25 11:51] hyochan commented on #231
#243 has been merged and released in `3.0.0` 🎉

[2020-03-25 11:51] #231 closed

[2020-03-25 11:52] hyochan commented on #235
Would you try `3.0.0` and come back?

[2020-03-25 11:54] hyochan commented on #240
[code]

What's this permission denied?

[2020-03-25 11:56] hyochan commented on #244
I've managed to release `flauto` today in `3.0.0`. Will this issue be fixed?

[2020-03-25 11:57] hyochan commented on #245
Looks @robyroad is correct~! Closing for now.

[2020-03-25 11:59] tonypottera24 commented on #244
@Larpoux Thank you for your help.
I think maybe `flutter_sound` should act like a wrapper and provide API for common audio related usages.
For example, the audio properties such as duration, bitrate, format, ... in `FlutterFFprobe` section.

https://github.com/tanersener/flutter-ffmpeg#3-using

But I'm little bit confused to the future of `flutter_sound`, and cannot find the explanation in README.

[2020-03-25 12:05] hyochan commented on #244
There was quite a large feature that may cause breaking changes and @Larpoux has given a code name which is `flauto`. It's been merged to `3.0.0` and we can use it now.

[2020-03-25 12:16] tonypottera24 commented on #244
Thank you for the explanation and contribution.
I think this issue can be closed.

[2020-03-25 12:39] hyochan commented on #219
Closes via #243

[2020-03-25 12:39] #219 closed

[2020-03-25 12:40] hyochan commented on #203
Please comeback to this if you still face the issue in `3.0.0`. Closing for now.

[2020-03-25 12:40] #203 closed

[2020-03-25 12:41] hyochan commented on #171
The current feature is released in `3.0.0`

[2020-03-25 12:41] #171 closed

[2020-03-25 12:42] hyochan commented on #87
This feature has been released in `3.0.0`.

[2020-03-25 12:42] #87 closed

[2020-03-25 16:47] JayThadeshwar commented on #245
@robyroad
@hyochan

I tried changing the codec to t_CODEC _codec = t_CODEC.CODEC_MP3 and file extension to mp3 but yet getting the error. So, I tried printing the stacktrace and got:
[code]
On line 247 of _flutter_sound.dart_ it throws RecorderRunningException with message _Codec not supported._
It seems like CODEC_MP3 is not supported. Guide me if I am wrong.
As, I checked _FlutterSoundPlugin.jav

[2020-03-25 17:15] efhilton commented on #171
U rock! Than you! Will try in a few days and let you know if there are any other problems.

[2020-03-26 00:55] hyochan commented on #245
Can you try 3.0.0 also? If I remember correctly mp3 had license issue. @Larpoux

[2020-03-26 06:12] Larpoux commented on #245
I confirm that neither Android nor iOS may record MP3 because of license issue.
(but it is ok for MP3 playback)

One of my(many) plans is to support MP3 recording using `lame` (via FFmpeg).
The problem is that actually flutter_sound cannot stream the recording to a specific codec.

Either we will have to encode to MP3 after the end of the recording, but it can delay very much the `stopRecorder()`

[2020-03-26 06:17] Larpoux commented on #245
Note : encoding with a specific Codec after stopRecorder() is actually what I do to record OGG/OPUS on iOS. This is fine for my own use , because my records are very short.
But it would be great if it was possible to encode OGG/OPUS or MP3 during the recording.

[2020-03-26 06:20] Larpoux commented on #242
+1

[2020-03-26 18:00] kmusham opened #253 "Does the API work if the UIBackgroundModes 'audio' is not defined?"
Hi,
Apple rejected our application because of 'audio' was specified in the background mode and they need an explanation I just followed your instructions below and added.

<key>NSMicrophoneUsageDescription</key>
<string>This sample uses the microphone to record your speech and convert it to text.</string>
<key>UIBackgroundModes</key>
<array>
	<string>audio</string>
</array>

 I 'm using these APIs

[2020-03-26 23:10] sgehrman opened #254 "Attempt to invoke virtual method 'java.lang.Class java.lang.Object.getClass()' on a null object"
### Version of flutter_sound
3.0.0

## flutter doctor
 isAudioOn: The number of audio connected devices 0
03-26 16:08:17.714  2200  3152 D HeadsetService: isScoOrCallActive(): Call Active:falseCall is Ringing:falseSCO is Active:false
03-26 16:08:17.714  2200  3152 D HeadsetService:  isAudioOn: The number of audio connected devices 0
03-26 16:08:17.717 21074 21074 D AndroidRuntime: Shutting down VM

[2020-03-26 23:13] jcnoriega opened #255 "Recording in background: microphone cuts off after 1 minutes"
### Version of flutter_sound
3.0.0

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
Im actually not sure if what happens is intended. If i start recording and block the phone, it will record fine but after a minute or so, the microphone will be shut down. Once I unlock the phone, the mic goes back on and keeps recording fine. I want to be able to record a

[2020-03-26 23:44] sgehrman commented on #254
FATAL EXCEPTION: main
03-26 16:38:35.854 17420 17420 E AndroidRuntime: Process: re.distantfutu.journal, PID: 17420
03-26 16:38:35.854 17420 17420 E AndroidRuntime: java.lang.RuntimeException: Unable to create service com.dooboolab.fluttersound.BackgroundAudioService: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Class java.lang.Object.getClass()' on a null object refe

[2020-03-27 03:00] kiha-la commented on #246
I have not tested the code you gave, but I had a similar problem.
When you try  sound playback after recording, ` _channel.setMethodCallHandler` called with some playback callback (like `updateProgress`).

However, `_setRecorderCallback` handles callbacks only `updateRecorderProgress` and `updateDbPeakProgress`, in addition, it throws the error to other callbacks.

[code]

It looks like playback c

[2020-03-28 09:07] Larpoux commented on #253
@kmusham : which flutter_sound version do you use ?
@hyochan : I will take care of this issue.

[2020-03-28 09:09] Larpoux commented on #254
@hyochan : I will take care of this issue.

[2020-03-28 09:10] Larpoux commented on #255
@hyochan : I will take care of this issue

[2020-03-28 15:15] Larpoux commented on #254
OK, I encounter this bug myself.
I am currently fixing that.
(This post is just an information so that you know someone working on this bug)

[2020-03-28 21:30] konstantin-mohin commented on #242
Also looking for the feature

[2020-03-29 00:24] Larpoux commented on #254
Pull Request #256 will probably cure this problem.
@hyochan , we need your intervention 😺 to apply this patch in the Master branch.

[2020-03-29 02:40] sgehrman commented on #254
awesome, thanks.  Please merge it soon.

[2020-03-29 17:05] Larpoux commented on #250
PR #257 is a major re-design of flutter_sound architecture.
flutter_sound module is now split into :
- FlautoRecorder
- FlautoPlayer
All modules are re-entrant. It is possible to start several FlutterPlayer and several FlutterRecorder at the same time.

Complete backward compatibility is provided by two deprecated modules  :
- FlutterSound.dart
- Flauto.dart

@kiha-la : This PR is still in beta-ve

[2020-03-29 17:06] Larpoux commented on #232
PR #257 is a major re-design of flutter_sound architecture.
flutter_sound module is now split into :
- FlautoRecorder
- FlautoPlayer
All modules are re-entrant. It is possible to start several FlutterPlayer and several FlutterRecorder at the same time.

Complete backward compatibility is provided by two deprecated modules  :
- FlutterSound.dart
- Flauto.dart

@kiha-la : This PR is still in beta-ve

[2020-03-30 01:17] eric-5512 opened #258 "acc Conversion pcm"
file acc Conversion pcm?

[2020-03-30 07:13] sgehrman opened #259 "pubspec version conflict with permission_handler and flutter_sound"
### Version of flutter_sound
3.0.0

Running "flutter pub get" in therapist_training...
Because flutter_sound 3.0.0 depends on permission_handler ^4.4.0 and no versions of flutter_sound match >3.0.0 <4.0.0, flutter_sound ^3.0.0 requires permission_handler ^4.4.0.
So, because therapist_training depends on both flutter_sound ^3.0.0 and permission_handler ^5.0.0+hotfix.1, version solving failed.

pub

[2020-03-30 07:14] sgehrman commented on #259
permission_handler just updated to   permission_handler: ^5.0.0+hotfix.1
 today

[2020-03-30 11:30] tonypottera24 commented on #246
@kiha-la Thank you for your advice, but the problem still exists in `flutter_sound: ^3.0.0`

[2020-03-30 14:53] #254 closed

[2020-03-30 15:30] Larpoux commented on #258
Actually, flutter_sound cannot record PCM. This will eventually change later.
Converting ACC to PCM is not recommended :  ACC is a compress format, and you will not get a perfect PCM after converting your record.

[2020-03-30 15:34] Larpoux commented on #259
I do not see any reason for flutter_sound to request ```permission_handler ^4.4.0``` and not ```permission_handler ^5.0.0```.

I will change that in next release.

[2020-03-30 15:47] eric-5512 commented on #258
I have a requirement, I need to convert aac to pcm, I don't need to play him, I just need to convert pcm to base64 and upload it to the server.

[2020-03-30 15:50] Larpoux commented on #258
You can use flutter_ffmpeg for that.
Actually, there is an API verb on flutter_sound 3.0.0 to call a flutter_ffmpeg file conversion.
This is very simple, and we use this feature internally to convert the Apple specific format CAF to OGG/OPUS.

[2020-03-30 15:52] eric-5512 commented on #258
OK,Thanks

[2020-03-30 15:52] #258 closed

[2020-03-30 15:54] Larpoux commented on #258
This verb is not documented because I plan to change a little the way flutter_sound interface with flutter_ffmpeg. But you can freely use it, because the future versions of flutter_sound will depend more and more on flutter_ffmpeg. Many other developers will want flutter_ffmpeg. Sure 😃

[2020-03-30 15:56] eric-5512 commented on #258
To be honest, I don't know how to use flutter_ffmpeg ...  😃

[2020-03-30 15:59] Larpoux commented on #258
wait a few minutes ...

[2020-03-30 16:01] eric-5512 commented on #258
OK!!!

[2020-03-30 16:02] Larpoux commented on #258
Here is an extract from flutter_sound code:
[code]

[2020-03-30 16:03] eric-5512 commented on #258
OK,Thanks!!!!

[2020-03-30 16:29] Larpoux commented on #242
@tonypottera24 , @konstantin-mohin :
Beta 3.1.1 offers 2 new API verbs :
- FlautoRecorder.pauseRecorder()
- FlautoRecorder.resumeRecorder()
This is beta-version and it is still not merge into flutter_sound master branch.

Until it will be integrated,  it would be great in the meantime if you can test it.

[2020-03-30 16:38] Larpoux commented on #242
If you are still with flutter_sound 2.x.x compatibility :
[code]

[2020-03-30 16:59] Larpoux commented on #259
@sgehrman :
Flutter_sound beta version 3.1.1  now accept to depends on permission_handler until 6.0.0.
This beta version is not yet merged in flutter_sound master branch, but you can test it on :
https://github.com/Canardoux/flauto . (#257)

[2020-03-30 17:00] Larpoux commented on #242
Oh! I forgot to give you the link :
https://github.com/Canardoux/flauto . (#257)

[2020-03-30 19:02] Larpoux commented on #244
Hi @tonypottera24 ,
flutter_sound beta version 3.1.1 embeds a few verbs to call flutter_ffmpeg :
- FlutterSoundHelper.FFmpegGetMediaInformation(_<A_file_path>_);
- FlutterSoundHelper.duration(_<A_file_path>_)

This version is beta and not yet merged with flutter_sound Master branch.
But you can test it on : https://github.com/Canardoux/flauto

[2020-03-30 21:59] sgehrman opened #260 "3.0.0+1, still seeing crash randomly. Attempt to invoke virtual method 'java.lang.Class java.lang.Object.getClass()' on a null object"
isAudioOn: The number of audio connected devices 0
03-30 14:58:07.733  6082  6082 D AndroidRuntime: Shutting down VM
--------- beginning of crash
03-30 14:58:07.734  6082  6082 E AndroidRuntime: FATAL EXCEPTION: main
03-30 14:58:07.734  6082  6082 E AndroidRuntime: Process: re.distantfutu.journal, PID: 6082
03-30 14:58:07.734  6082  6082 E AndroidRuntime: java.lang.RuntimeException: Unable to crea

[2020-03-30 23:18] sgehrman commented on #259
I haven't written a library before, but could you just leave the version numbers blank for packages a libaray depends on?  I wonder if that is a solution?

[2020-03-31 05:27] tonypottera24 commented on #242
Thank you for your help.
But I'm little bit confused about the new design.
Should it follow the life cycle?
initialize() -> startRecorder() -> pauseRecorder() -> resumeRecorder() -> stopRecorder()

[2020-03-31 06:45] Larpoux commented on #259
Yes, we can do that. But I think that it would not be good.
Major version number (4.x.x, 5.x.x, 6.x.x, ...) are supposed to be incremented when there is changes in the API, and when the plugin is not any more backward compatible.

Version 6.x.x will have breaking changes form 5.0.0, and actually we cannot know if those changes will be OK for flutter_sound.
So the rules are to always specify which

[2020-03-31 06:57] Larpoux commented on #242
Yes, this is the correct cycle.
In fact there is no major changes from version 2.1.0.
If you use the compatibility module "FlutterSound", you do not have to change your code.
Just use the verbs pauseRecorder() and resumeRecorder() after starting your recorder, and before you call stopRecorder().

The new API will use a new object : `FlutterSoundRecorder` instead of FlutterSound.
Using it is very s

[2020-03-31 08:30] Larpoux commented on #260
OK. I am going to look to this serious problem.

[2020-03-31 08:52] Larpoux commented on #260
Are you sure that it is 3.0.0+1  and not Flauto Beta 3.1.0  ?
(unfortunately I had a regression in Flauto Beta 3.1.0, and I just fix it)

[2020-03-31 09:21] Larpoux commented on #253
@kmusham :
I did some tests on iOS without "Background mode Audio" and flutter_sound seems happy.
You probably can securely  check off this option.
When flutter_sound goes background, its sound is stopped.
When flutter_sound return foreground, its sound resumes.

[2020-03-31 09:44] tonypottera24 commented on #242
It works on Android.

Currently I found few issues.

1. In convention, i think `isRecording()`, `isPaused()`, `isStopped()` should use `get` to make them looks like `isRecording`, `isPaused`, `isStopped`.
2. I think `isRecording()` maybe should remain true during the whole recording progress even when `isPaused()`.
3. `flautoPlayer.startPlayerFromBuffer` failed during recording. This operation wil

[2020-03-31 09:49] tonypottera24 commented on #244
Wow! thanks a lot!
Looking forward to the release.

[2020-03-31 09:49] #244 closed

[2020-03-31 09:51] Larpoux commented on #242
@tonypottera24 :  thank you very much to spent some of your time to test the beta version.
1. I agree to use `get` for isRecording, isPaused, and isStopped.
2. I agree for isRecording to be true when paused
3. I will look for startPlayerFromBuffer

[2020-03-31 12:40] sgehrman commented on #260
I'm sure it was 3.0.0+1.  I tried flutter clean and flutter pub get to make sure it was using that new version.  I tested a few times to make sure, since it was acting the same as 3.0.0

[2020-03-31 12:50] Larpoux commented on #260
Thank you.  Bad bug :-(
I am going to work on it. But probably I will ask you to do other tests after some modifications, because I do not encounter this bug any more myself.

[2020-03-31 19:10] Larpoux commented on #260
@sgehrman :
Please, could you check [my beta branch](https://github.com/Canardoux/flauto/tree/beta/android/src/main/java/com/dooboolab/fluttersound). I added a few traps in the code to understand better what is the problem.

Thank you.

[2020-04-01 07:04] Larpoux commented on #255
I did some tests on Android and iOS, and I do not see any problem on real devices :
- We can go to the home screen
- We can call another App
- We can put the phone on sleep mode

And after coming back to flutter_sound, the recorder continues to run, and has recorded everything.
Maybe you have a problem with your specific Android device

[2020-04-01 07:29] Larpoux commented on #242
Which OS : iOS or Android ?

[2020-04-01 07:41] anup-geeky commented on #242
@Larpoux
How I can use Beta 3.1.1?
flutter pub get failed to get plugin.
And
i'm currently using 2.1.1 version but i not able to access this methods
flutter_sound.pauseRecorder();
flutter_sound.resumeRecorder();

Please give me solution.
Thank you.

[2020-04-01 07:44] Larpoux commented on #242
Beta 3.1.x is not actually merged in flutter_sound Master branch.
It means that if you want to test this beta version, you must use [the beta-branch](https://github.com/Canardoux/flauto)

[2020-04-01 08:25] Larpoux commented on #242
@tonypottera24 :
I fixed some conflicts in temporary files when several FlutterSoundRecorder and several FlutterSoundPlayer.
Could you check [the beta-branch](https://github.com/Canardoux/flauto)  ?
Thank you.

[2020-04-01 08:26] anup-geeky commented on #242
@Larpoux
When will this branch get merge in master. can you give me tentative days.
This is an excellent plugin for recording.

[2020-04-01 08:29] Larpoux commented on #242
Thank you @anup-geeky for your compliments.
The beta version has deep modifications. The architecture has been redesigned.
So we need intensive tests.
But I hope that this version will be released very soon.
@hyochan  ?

[2020-04-01 13:05] tonypottera24 commented on #242
Thank you for your help.
I'm testing on Galaxy S8
it still doesn't play sounds, but everytime I try to play, it gives following logs
[code]
Hope this will help.

[2020-04-01 13:14] Larpoux commented on #242
I just did a las test on my Xiaomi and my Huawei and I do not encounter any problems in playback.

[2020-04-01 13:17] Larpoux commented on #242
[code]
Your record seems very short!

[2020-04-01 13:19] Larpoux commented on #242
Are you root on your Smartphone ?  if yes, you could check the file ```.../flutter_sound1789336971910600526.aac```.
0.5 seconds is really short !

[2020-04-01 13:21] tonypottera24 commented on #242
it is a "ring" or "ding" sound effect, it has to be short.

[2020-04-01 13:24] Larpoux commented on #242
Which module do you use ? FlutterSoundPlayer ? or TrackPlayer ?
(probably FlutterSoundPlayer if this is sound effects ...)

[2020-04-01 13:27] Larpoux commented on #242
Are you sure to called ```myModule.initializePlayer()``` ?

[2020-04-01 13:30] Larpoux commented on #242
This is what I do not like :
[code]

[2020-04-01 13:32] Larpoux commented on #242
Which Android on your smartphone ?
Which is your Target AndroidSdkVersion of your App ?

[2020-04-01 13:38] Larpoux commented on #242
If you want to send be your code, I can check on my side.
(I have a few hours free this after-noon. This is something not frequent 😆

[2020-04-01 13:47] tonypottera24 commented on #242
I'm figuring out why this doesn't works...
[code]

[2020-04-01 13:49] tonypottera24 commented on #242
Android 9.0
targetSdkVersion 28
[code]

[2020-04-01 13:54] hyochan commented on #260
`3.1.0` has been released just now. @sgehrman Could you try that?

[2020-04-01 13:55] hyochan commented on #259
Please come back after trying `3.1.0`! Closes this for now~

[2020-04-01 13:55] #259 closed

[2020-04-01 14:01] Larpoux commented on #242
At first seeing your code seems OK.
Two remarks :
- FlutterSound 3.1.0 is just released. The final names are ```FlutterSoundPlayer``` and ```FlutterSoundRecorder``` and not the beta ```FlautoPlayer``` and ```FlautoRecorder```
- Probably better to Initialize your player in your ```init``` function and not Release it each time the User has a 'Bip'.

But this does not explain your problem...

[2020-04-01 14:19] tonypottera24 commented on #242
It works on the beta branch!
Sorry that I made some mistakes in pubspec.yaml settings.
I'll try 3.1.0 soon.

[2020-04-01 14:20] Larpoux commented on #242
That's fine. I like when things works without needed to fix bugs 😆

[2020-04-01 14:22] Larpoux commented on #242
But be sure that files xxx.m4a is OK for FlutterSound on Android.
I am not sure that .m4a is compatible with flutter_sound AAC

[2020-04-01 14:36] tonypottera24 commented on #242
Thank you for your notice, I'll look into it.
I found that in `3.1.1`, `onRecorderDbPeakChanged` will not crash on `startPlayer` now, but it will pause on `pauseRecorder()` and stop responding after `resumeRecorder()`.

Another issue is `setDbLevelEnabled`, `updateDbPeakProgress` and `onRecorderDbPeakChanged` seems be forgot in the README.

[2020-04-01 14:42] tonypottera24 commented on #246
This issue is fixed in `3.1.1`.
But currently, `onRecorderDbPeakChanged ` is not responding on `resumeRecorder`.

[2020-04-01 14:44] Larpoux commented on #242
Documentation is (as always) a big problem.
My feeling is that I must rewrite all the thing.
But I prefer (as every body) to code and not to document. Specially in English which is not easy for me.

[2020-04-01 14:49] tonypottera24 commented on #242
haha, English is not my mother language too...

Some little advice:
`FlutterSound` is now separate into `FlutterSoundPlayer` and `FlutterSoundRecorder`, so the function name such as `startPlayer`, `startPlayerFromBuffer` can be changed to `start` and `startFromBuffer` now.

[2020-04-01 15:11] tonypottera24 commented on #242
Also, in convention, I think `whenFinished` should be `onFinished`.

[2020-04-01 15:13] Larpoux commented on #242
You are certainly right. But too late ... 3.1.0 is released now. 😄

[2020-04-01 19:18] Larpoux commented on #246
I do not see any problem on iOS flutter_sound release 3.1.0

[2020-04-01 19:30] Larpoux commented on #240
I have no idea what is this error that I get periodically  on Android :
[code]

I just live with this error which is not from my APP of Flutter Sound

[2020-04-01 19:30] #240 closed

[2020-04-01 19:31] Larpoux commented on #239
I will reopen this Problem Report if I encounter again this issue

[2020-04-01 19:32] #239 closed

[2020-04-01 19:34] Larpoux commented on #236
I will reopen this issue later, now that 3.1.1 is released

[2020-04-01 19:34] #236 closed

[2020-04-01 19:35] Larpoux commented on #250
Fixed in Flauto Sound 3.1.1

[2020-04-01 19:35] #250 closed

[2020-04-01 20:03] Josue10599 commented on #235
I found out why it wasn't working! I added FirebaseMessaging and it requested a change to AndroidManifest.xml:

[code]

When making this change, the plug-in did not respond correctly.
I tested it back to default and it worked perfectly.

I'm using version 3.1.0

[2020-04-01 22:04] kefayuan opened #263 "compile error: 'PermissionGroup' isn't a type. version: 3.1.1, IOS"
### Version of flutter_sound
3.1.1
## flutter doctor
[✓] Flutter (Channel stable, v1.12.13+hotfix.9-pre.2, on Mac OS X 10.15.3 19D76, locale en)
    • Flutter version 1.12.13+hotfix.9-pre.2 at /Users/henan_kefa/Development/flutter
    • Framework revision f139b11009 (2 days ago), 2020-03-30 13:57:30 -0700
    • Engine revision af51afceb8
    • Dart version 2.7.2

[✗] Android toolchain - develop fo

[2020-04-01 23:59] sgehrman commented on #263
I got the same thing.

[2020-04-02 00:12] sgehrman commented on #260
same problem.  I have bluetooth headphones.  If they are off, it crashes, if I turn them on it doen't crash.

Also saw this: with 3.1.0

Exception has occurred.
NoSuchMethodError (NoSuchMethodError: The method 'invokeMethod' was called on null.
Receiver: null
Tried calling: invokeMethod("setSubscriptionDuration", _LinkedHashMap len:2))

And I had to update my minSdkVersion to 24.

Launching lib/ma

[2020-04-02 01:28] tonypottera24 commented on #246
This page says the latest version is 3.1.1
https://pub.dev/packages/flutter_sound/versions

I used Samsung Galaxy S8, Android 9

[2020-04-02 06:21] wang709693972wei opened #264 "1.7.0 以上的版本会报错 找不到 ActivityCompat.requestPermissions"
C:\Users\Administrator\AppData\Roaming\Pub\Cache\hosted\pub.flutter-io.cn\flutter_sound-1.9.0\android\src\main\java\com\dooboolab\fluttersound\FlutterSoundPlugin.java:43: ����: �Ҳ�������
        ActivityCompat.requestPermissions(activity, new String[]{Manifest.permission.RECORD_AUDIO,}, 0);
        ^
  ����:   ��� ActivityCompat
  λ��: �� sdkCompat
1 ������

FAILURE: Build failed with an exception

[2020-04-02 06:41] Larpoux commented on #260
This is because you use the ffmpeg ```audio``` module.
If you want a minSdkVersion < 24, just replace the ffmpeg module by ```audio-lts``` in your build.gradle.
[code]

[2020-04-02 06:51] Larpoux commented on #260
1. The Exception that you get is not the same issue than the one you got previously.
Are you sure that you called ```myFlutterSoundPlayer.initialize()``` ?
Also I need your complete logs to understand better.
2. Your minSdkVersion problem is because you use the ffmpeg ```audio``` module.
If you want a minSdkVersion < 24, just replace the ffmpeg module by ```audio-lts``` in your build.gradle.
[code

[2020-04-02 07:03] Larpoux commented on #263
Did you do a ```flutter pub get``` ?

[2020-04-02 07:13] alevittoria opened #265 "flutter_ffmpeg dependency, min sdk 24"
### Version 3.1.1
The library has a dependency with flutter_ffmpeg but this raises the min SDK version to 24.
Is it really necessary to use the full version of flutter_ffmpeg?
I see that exists the LTS version that decreases the min sdk version to 16.

[2020-04-02 12:37] Larpoux commented on #265
Your minSdkVersion problem is because you use the ffmpeg ```audio``` module.
If you want a minSdkVersion < 24, just replace the ffmpeg module by ```audio-lts``` in your build.gradle.
[code]

[2020-04-02 12:41] Larpoux commented on #265
flutter_sound does not need the full version of ffmpeg. `audio-lts` is OK.
just replace the ffmpeg module by ```audio-lts``` in your build.gradle.
[code]

[2020-04-02 14:14] kefayuan commented on #263
@Larpoux , yes, I tried flutter clean, flutter pub get, but not work
@sgehrman , I did not used permission_handler, but I tried to add the permission_handler, but with latest version, not work

[2020-04-02 14:31] Larpoux commented on #263
OK, I think I found something.
Please wait 10 minutes.

[2020-04-02 14:37] Larpoux commented on #263
OK guys

flutter_sound changed its dependencies to accept new versions of permission_handler :
[code]

This was a very bad decision. flutter_sound is not compatible with ```permission_handler: 5.0.0```

You will need to change the line in pubspec.yaml :
[code]

We are going to patch flutter_sound 3.1.1 very soon.
@hyochan ?  We need your help, my friend ...

[2020-04-02 14:47] gerben-van-eck commented on #186
The player does have an 'isPlaying' bool, and 'paused' basically means it isn't playing and you requested to play a track. Only the 'paused' state is not very clear I guess from the API. In my app state I set the state to stopped 'whenFinished' and also manually track the pause state, and that seems to work, although not yet in full production.

[2020-04-02 15:10] kefayuan commented on #263
actually, I don't use permission_handler, the permission_handler is implicitly import by flutter_sound, just in order to use flutter_sound, I explicitly add this dependency into pubspec.yaml.

[2020-04-02 15:21] Larpoux commented on #263
Sorry for the inconvenient .
Look further for a patch version 3.1.2 in a few hours.

[2020-04-02 15:40] kefayuan commented on #263
@Larpoux thank you for this plugin and also for your work!

[2020-04-02 16:41] Larpoux commented on #264
@wang709693972wei :
This issue is fixed in version patched 3.1.2
Please, check that it works fine.

[2020-04-02 16:43] Larpoux commented on #263
@kefayuan , @sgehrman :
This issue is fixed in version patched 3.1.2
Please, check that it works fine.

[2020-04-02 17:28] kefayuan commented on #263
@Larpoux
 got another warnings, but it seems that problem was solved. thank you!
  /ios/Debugiphonesimulator/flutter_sound/flutter_sound.framework/Headers/FlutterSoundPlayer.h:72:53: note: insert '_Nullable' if the pointer may be null
    - (void)setCategory: (NSString*)categ mode:(NSString*)mode options:(int)options result:(FlutterResult)result;

[2020-04-02 17:52] Larpoux opened #266 "isRecording and isPlaying"
### Version of flutter_sound
3.1.2

### Platforms you faced the error (IOS or Android or both?)
both

### Expected behavior
A homogeneous behavior

### Actual behavior
Not a homogeneous behavior

Actually,
- isRecording is true when the recorder is in paused mode
- isPlaying is false when the player is in paused mode

We must have a homogeneous behavior with those 2 verbs.
I do not have really an

[2020-04-02 18:42] Larpoux commented on #266
@hyochan :
please look to this issue. We need to change that **very very quickly**, because it will be a breaking change.
I think that isRecording must be false when paused : probably very few developers already use the function pauseRecorder().

I suggest to do it tomorrow, if you are OK.

[2020-04-02 18:52] hyochan commented on #266
Agree on isRecording to be false when paused!

[2020-04-02 19:11] Larpoux commented on #266
Fixed in 3.1.3

[2020-04-02 19:11] #266 closed

[2020-04-02 19:32] real1900 commented on #263
Launching lib/main.dart on iPhone 11 Pro Max in debug mode...

Compiler message:
../lib/flutter_sound_recorder.dart:262:9: Error: 'PermissionGroup' isn't a type.
    Map<PermissionGroup, PermissionStatus> permission = await PermissionHandler().requestPermissions([PermissionGroup.microphone]);
        ^^^^^^^^^^^^^^^
../lib/flutter_sound_recorder.dart:262:63: Error: The method 'PermissionHandler' i

[2020-04-02 19:37] Larpoux commented on #263
Which Flutter Version do you use ?
This bug is supposed to be fixed in V3.1.2.
Do not forget to do a ```flutter pub get``` after updating ```pubspec.yaml```

[2020-04-02 20:14] kefayuan commented on #263
@Larpoux, the latest version

✓] Flutter (Channel stable, v1.12.13+hotfix.9, on Mac OS X 10.15.3 19D76, locale en)
    • Flutter version 1.12.13+hotfix.9 at /Development/flutter
    • Framework revision f139b11009 (3 days ago), 2020-03-30 13:57:30 -0700
    • Engine revision af51afceb8
    • Dart version 2.7.2

[✗] Android toolchain - develop for Android devices
    ✗ Unable to locate Android SDK.

[2020-04-02 21:05] Larpoux commented on #263
Sorry, I wanted to say 'Which flutter_version Version do you use ?'

[2020-04-02 21:10] Larpoux commented on #263
can you do ```flutter pub deps`` ?

[2020-04-03 02:18] hyochan commented on #263
@Larpoux I think below dep would be just fine. How do you think?
[code]

I don't think it is a good idea to just specify a specific version. I had this problem earlier lots of time and I came up that l should have to not specify a specific version. Someone might use `permission_handler 4.0.0` and someone might use `permission_handler 4.0.1` which might be mostly identical but they might not be com

[2020-04-03 02:21] hyochan commented on #263
I've released the above changes to `3.1.4` and feel free to tell better ideas.
Also, please come back after using `3.1.4`.

[2020-04-03 02:21] #263 closed

[2020-04-03 05:04] real1900 commented on #265
I am getting:

    [!] CocoaPods could not find compatible versions for pod "flutter_ffmpeg":
      In Podfile:
        flutter_ffmpeg (from `.symlinks/plugins/flutter_ffmpeg/ios`)

    Specs satisfying the `flutter_ffmpeg (from `.symlinks/plugins/flutter_ffmpeg/ios`)` dependency were found, but they required a higher minimum deployment target.

[2020-04-03 05:51] Larpoux commented on #263
">=4.0.0 <5.0.0"
and
"^4.0.0"
are exactly same.

[2020-04-03 05:53] Larpoux commented on #263
"^4.4.0"   means ">=4.4.0 <5.0.0"
This was not bad, I think.

[2020-04-03 05:58] Larpoux commented on #265
Actually Apple wants that new Apps are built with iOS 12 SDK until July.
After July we will have to use iOS 13 SDK.

[2020-04-03 06:41] sgehrman commented on #260
I wasn't calling initialize, but I added that and it still crashes if my bluetooth headphones are turned off.

[2020-04-03 07:02] Larpoux commented on #260
We need your logs when you have crash.

[2020-04-03 13:44] kefayuan commented on #263
@Larpoux
Dart SDK 2.7.2
Flutter SDK 1.12.13+hotfix.9
|-- alphabet_list_scroll_view 1.0.6
|   |-- flutter...
|   |-- rxdart 0.23.1
|   '-- vibration 1.2.4
|       '-- flutter...
|-- bubble 1.1.9+1
|   '-- flutter...
|-- build_runner 1.8.1
|   |-- args 1.5.2
|   |-- async 2.4.0
|   |   '-- collection...
|   |-- build 1.2.2
|   |   |-- analyzer 0.39.4
|   |   |   |-- _fe_analyzer_shared 1.0.3
|   |

[2020-04-03 13:56] hyochan commented on #263
Yes you are correct!

[2020-04-03 13:57] Larpoux commented on #263
Your ```flutter pub deps``` that you posted is not very readable : all lines are truncated, so it is not possible to check which version of flutter_sound you currently link with.

But at least we can see that your app depends on ```permission_handler 4.4.0+hotfix.4```, witch is correct.

We really think that the current version of flutter_sound solved the ```permission_handler``` compilation error

[2020-04-03 14:42] kefayuan commented on #263
it should be ok now, I can run the example without any error, if there is any anther problem, I will let you know, thank you @Larpoux

[2020-04-04 09:16] xia-weiyang opened #267 "MissingPluginException(No implementation found for method initializeFlautoRecorder on channel com.dooboolab.flutter_sound_recorder)"
### Version of flutter_sound 3.1.34

### Platforms you faced the error

 Android

please help me, thanks!

I don't know why I can't find this method, this is log.

[code]

[2020-04-04 09:23] Larpoux commented on #267
You seems to have a bad mix between the beta version/3.0.0 version and 3.1.3

You can try
[code]

If the problem persists send us the result of ```flutter pub deps```

[2020-04-04 09:26] Larpoux commented on #267
Post also your pubspec.yaml with the result of ```flutter pub deps```

[2020-04-04 09:34] xia-weiyang commented on #267
https://github.com/dooboolab/flutter_sound/blob/master/android/src/main/java/com/dooboolab/fluttersound/Flauto.java#L116

Did you forget to register ？

[code]

It's ok now, when I add it.

[2020-04-04 09:45] Larpoux commented on #267
👍  You are perfectly right. Two lines are missing :
[code]
Until now, we have never tested this function because we always use the new 'Flutter Embedded V2'

I am going to push a patch V3.1.4 this after noon.
Thank you for your contribution. 👍

[2020-04-04 12:54] Larpoux commented on #267
@xia-weiyang

Patch Release 3.1.5 is supposed to fix this bug.
Thank you again

[2020-04-05 05:16] xia-weiyang commented on #267
Thanks for your patch.

[2020-04-05 05:16] #267 closed

[2020-04-07 02:48] kiha-la commented on #250
@Larpoux

I tested new reentrance function and it seems works fine :smile: :clap:
The test code working with Flauto 3.1.1 and execution resultis are below.
Two recorder instances are controlled independently and  dbPeakSubscription are separated.

Thanks for all the hard work:+1:

[code]
[code]

[2020-04-07 04:51] bsutton opened #269 "document the result value of startPlayer and startPlayerFromBuffer"
The methods startPlayer,  startPlayerFromBuffer and startRecorder all  return a Future<String>.

There is no documentation on what that string contains.

[2020-04-07 04:54] bsutton opened #270 "Need documentation on public methods."
To improve the usability of flutter_sound we need to have documentation on each of the public methods.
As it stands users are left to guess how each method works and what the expected return is.

[2020-04-07 04:57] bsutton commented on #270
In particular methods like updateProgress(Map call) gives no hint of what it might do.

[2020-04-07 06:09] bsutton commented on #265
Can you provide some more details. My build.gradle doesn't have a line ext.flutterFFmpegPackage so I'm not certain where to put the line?

[2020-04-07 06:19] Larpoux commented on #250
Thank you @kiha-la  for having tested 3.1.x.
I really think that you was right with your request : flutter_sound design is now better.

Take care,

[2020-04-07 06:31] bsutton opened #271 "Need to throw an exception if initialize not called."
I've just upgraded to 3.x.

My code did not call the initialize method before calling startRecorder.

The result was a no suchMethodError.

It would be helpful if the public api threw an exception if initialize hadn't been called.

On the other hand why can't this be handled internally? Why do we need to force the user to call it when the package could initialise itself?

[2020-04-07 06:32] Larpoux commented on #269
Yes, @bsutton ,
You are right with #269 #270 #265 : FlutterSound documentation must be improved.

My feeling is that all the doc should be rewritten.
I think that the README should not document the API itself, but better to link to
several pages :
- API for FlutterSoundRecorder
- API for FlutterSoundPlayer
- API for TrackPlayer
- API for FlutterSoundHelper

Of course, if you can do something for t

[2020-04-07 06:33] Larpoux commented on #271
Yes, you are right.
I will add this check in next release.

[2020-04-07 07:27] bsutton commented on #269
If you want to draft something I'm happy to go over the grammar.

On Tue, 7 Apr 2020 at 16:32, Larpoux <notifications@github.com> wrote:

[2020-04-07 07:28] bsutton commented on #269
The readme should have an overview of how to use the methods and some
examples but the details should be left to the library doco.

On Tue, 7 Apr 2020 at 16:32, Larpoux <notifications@github.com> wrote:

[2020-04-07 07:30] Larpoux commented on #269
OK, that sounds good.
I will try to do something better than now.
But later, because I am currently overbooked.

[2020-04-07 16:55] kmusham opened #272 "Runtime Exception in the production"
There are thousands of runtime exception thrown recently wit the libraries in the production. following stack trace is from the google playstore. Mostly happenning on Android 9 and 10
Could you please quickly look at this?

### Version of flutter_sound
3.0.0
## flutter doctor

### Platforms you faced the error (IOS or Android or both?)
android (I did not check iOs yet)
### Expected behavior

### A

[2020-04-07 17:18] Larpoux commented on #272
Please use the last released version (3.1.5).
Some bugs are fixed for Android, since 3.0.0

[2020-04-07 17:30] kmusham commented on #272
Is it a known issue in 3.0.0? App must be crashing with the runtime errors.
I do not want to make the code changes based on new APIs because I see tons of changes needed to use new APIs also need lot of testing. Instead, I would like to update the API version to 3.5.1 but still use same old code ex: use FlutterSound class etc ..

Do you think that helps would solve the runtime exceptions ?

[2020-04-07 17:54] Larpoux commented on #272
Yes, this bug has been found and fixed since 3.0.0.

You probably can use the last version of flutter_sound with your actual code :
We tried to ensure backward compatibility with version 2.x.x (and 3.0.0 of course)

[2020-04-07 18:00] Larpoux commented on #272
This bug was fixed in version 3.0.0+1
[code]

This is the only change since 3.0.0

[2020-04-07 18:20] kmusham commented on #272
Thanks.
Seem like I can not simply create the iOS build without changes. I started making changes to Podfile and upgrade the target version to 9.3 but I still see the following issues.

ex:
$ pod install
Analyzing dependencies
[!] CocoaPods could not find compatible versions for pod "flutter_ffmpeg/<package name>":
  In Podfile:
    flutter_ffmpeg/<package name> (from `.symlinks/plugins/flutter_ff

[2020-04-07 18:25] Larpoux commented on #272
You could look to the README, section ```FFmpeg```.
This probably fix your dependency problem.

(But using an old iOS SDK is discouraged by Apple. You will not be allowed to upload your App to the Apple App Store.

[2020-04-07 20:04] GiovanniSybot opened #273 "3.1.5 fails building for iOS"
Building in codemagic.io, it build for Android but for iOS it gives this:

1 error generated.
    While building module 'flutter_ffmpeg' imported from /Users/builder/clone/ios/Runner/GeneratedPluginRegistrant.m:14:
    In file included from <module-includes>:1:
    In file included from /Users/builder/clone/build/ios/Release-iphoneos/flutter_ffmpeg/flutter_ffmpeg.framework/Headers/flutter_ffmpeg-u

[2020-04-07 20:11] Larpoux commented on #273
Did you do a correct dependency of flutter_ffmpeg, as specified in the README ?
You could try to modify your Podfile

[2020-04-07 20:12] Larpoux commented on #273
Maybe your problem will be solved if you link your app with the module "audio-lts".
Just try ...

[2020-04-07 20:22] kmusham commented on #272
I resolved iOS build issue.
So, can you please conform if the above Runtime Exceptions will be gone with the latest library version 3.5.1+ but the old code?

[2020-04-07 20:24] Larpoux commented on #272
Yes, I do.

[2020-04-07 20:33] Larpoux commented on #273
Oh ! sorry, I am tired and did not look very carefully your post. 👎

This seems good. 👍
Actually I have no idea of the reason of your problem.

[2020-04-08 01:18] kunnetcn opened #275 "How to play a file list one by one?"
### Version of flutter_sound
2.1.1
## flutter doctor

### Platforms you faced the error (IOS or Android or both?)
android
### Expected behavior

### Actual behavior

### Tested environment (Emulator? Real Device?)
Real Device
### Steps to reproduce the behavior
error: player is running, stop it first...
i tried to stop it, but it's not worked!

i just try to play a file address list by flutter_sou

[2020-04-08 01:57] liyang1518 commented on #258
Waitting for flutter_sound record PCM.

[2020-04-08 02:07] liyang1518 opened #276 "I have a requirement, I need record pcm and convert pcm to base64 and upload it to the server."
### Version of flutter_sound

## flutter doctor

### Platforms you faced the error (IOS or Android or both?)

### Expected behavior

### Actual behavior

### Tested environment (Emulator? Real Device?)

### Steps to reproduce the behavior

[2020-04-08 02:13] bsutton opened #277 "remove permissions requests from flutter sound."
I'm wondering if we would be better off removing the permission requests from flutter sound.

Leaving the permissions requests to the call allows more flexiblity on how the permissions are requested and removes permission_handler as a dependency.

I've just tried to upgrade to permission_handler 5.0 which has a cleaner api and flutter_sound is stopping the upgrade.
Further I want to control when a

[2020-04-08 02:14] eric-5512 commented on #258
in fact. I found that I just need to change the generated audio format to use it normally.

[2020-04-08 02:18] liyang1518 commented on #258
What does it mean ‘the generated audio format’，I need to upload the voice file to the server for voice recognition，the voice file must be encoded。

[2020-04-08 06:15] Larpoux commented on #275
On flutter_sound 3.1.x you can do something like that :
[code]

[2020-04-08 06:21] Larpoux commented on #276
Actually, flutter_sound can only record AAC, and OPUS on Android.
We plan to add more codes.
PCM is probably the next codec that we will support because we think that it will not very difficult to implement.

Please, keep this issue open, and be patient ...

[2020-04-08 06:22] Larpoux commented on #276
Sorry, OPUS on iOS

[2020-04-08 06:26] Larpoux commented on #277
Yes, I think that your right.
Generally, flutter_sound should not do anything which is not his direct responsibility.
But problem with backward compatibility.
I think that we sould implement #274

[2020-04-08 06:32] Larpoux commented on #258
OK. More and more I think that we sould implement PCM recording in flutter_sound.
I am going to work on that. Be patient ...

[2020-04-08 06:33] liyang1518 commented on #276
forwording...
I tried to use multiple solutions to solve the Flutter speech recognition function. The original Google and IOS native speech recognition functions were used, but it is difficult to use on different brands of Android machines. Second, the most convenient solution uses the SDK to convert voice files to text in real time, but the three-party voice vendors purchased by the company do no

[2020-04-08 06:45] Larpoux commented on #276
Yes, implementing PCM recording should not be too much difficult.
But better, should be to to stream the record to the server **during** the recording and not **after**. But doing that is a major development, and this will be in flutter_sound 4.x.x

[2020-04-08 06:55] liyang1518 commented on #276
You reminded me that flutter_sound provides encoded files and needs to be expanded. I am going to use websocket to implement it. in adnroid，AudioRecord performs recording and broadcasting while processing audio in real time.

[2020-04-08 06:57] Larpoux commented on #276
It will be great if you have something that you develop and can be integrated inside flutter_sound.

[2020-04-08 11:35] Larpoux commented on #277
Flutter Sound Version 3.1.6 is now compatible with
permission_handler 5.0.

[2020-04-08 11:35] #277 closed

[2020-04-08 11:36] Larpoux commented on #276
Flutter Sound 3.1.6 on iOS can record PCM.
Unfortunately, this is not easy to implement on Android.
Maybe a future version will do it ?

[2020-04-08 11:38] Larpoux commented on #272
Feel free to re-open this issue if you think that your issue is not correctly handled.

[2020-04-08 11:38] #272 closed

[2020-04-08 11:39] Larpoux commented on #271
Flutter Sound 3.1.6 calls initialise() itself if the App did not do it.

[2020-04-08 11:39] #271 closed

[2020-04-08 11:42] Larpoux commented on #265
We added a mention in the README to precise that this line can be put everywhere, perhaps at the beginning of the file, or the end.

[2020-04-08 11:42] Larpoux commented on #265
Please be free to re-open this issue if you think that it has not been solved.

[2020-04-08 11:43] #264 closed

[2020-04-08 11:44] Larpoux commented on #264
Please re-open this issue, if you think that it has not been solved correctly.

[2020-04-08 11:44] Larpoux commented on #260
Is your problem solved ?

[2020-04-08 11:45] Larpoux commented on #255
Have you fixed your problem ?

[2020-04-08 11:46] Larpoux commented on #253
Be free to re-open this issue if you think that it has not been solved.

[2020-04-08 11:46] #253 closed

[2020-04-08 11:47] Larpoux commented on #242
Please be free to re-open this issue, if you think it has not been solved correctly

[2020-04-08 11:48] #242 closed

[2020-04-08 11:51] Larpoux commented on #125
Please, feel free to re-open this issue if you thin it has not been fixed by recent versions.

[2020-04-08 11:51] #125 closed

[2020-04-08 11:53] Larpoux commented on #165
Please, feel free to re-open this issue if you think it has not been fixed by recent versions

[2020-04-08 11:53] #165 closed

[2020-04-08 11:57] Larpoux commented on #186
Please, feel free to re-open this issue if you think that your problem is not solved by the new parameter ```when Finished: (){ ... }``` in version 3.x.x

[2020-04-08 11:57] #186 closed

[2020-04-08 11:59] Larpoux commented on #196
Please feel free to re-open this issue if you think that your problem is not fixed by recent version.

[2020-04-08 11:59] #196 closed

[2020-04-08 12:01] Larpoux commented on #201
Please, feel free to re-open this issue if you think that recent versions of flutter_sound do not fix your problem

[2020-04-08 12:01] #201 closed

[2020-04-08 12:02] Larpoux commented on #220
Please, feel free to re-open this issue if you think that your problem is not solved by recent version of flutter-sound

[2020-04-08 12:02] #220 closed

[2020-04-08 12:05] Larpoux commented on #247
In version 3.1.6, the function release() closes all the stream controllers.

Please feel free to re-open this issue if you think that recent versions of Flutter Sound does not solve your problem.

[2020-04-08 12:05] #247 closed

[2020-04-08 12:50] kunnetcn commented on #275
thanks for your answer...may i use 2.1.1 version to do this loop?if i use 3.1.x,firstly,i need to update android version to androidX which i don't want to do that!

[2020-04-08 12:53] Larpoux commented on #275
I think you can use 3.1.x without androidX if you do not use the module ```TrackPlayer```.
If you try that , we will be glad to know if it's OK or not.

[2020-04-08 12:54] Larpoux commented on #275
Depending on your result, we will update the README.

[2020-04-08 15:05] kunnetcn commented on #275
Hi friend,i tried to use 3.1.x to play a sound on anroid9, it's worked...but when i want to loop another sound file by whenfinished method as you talk.it's not worked.
i print whenfinished method, and i found that, the method print before sound completed.maybe there is something wrong....

I/flutter (26917): pressed play....
I/flutter (26917): **whenFinished invoke 22222222222222**
D/FlutterSoundP

[2020-04-08 15:46] Larpoux commented on #275
Could you send us your code ?
Perhaps an ```await``` is missing somewhere ?
I guess that it is a problem in your code and not in Flutter Sound.
But of course, not sure... ;-)

[2020-04-09 06:13] bsutton opened #278 "Pausing a recording doesn't 'pause' the duration."
If you pause a recording the duration listener stops sending events.

As soon as you resume recording the listener correctly starts sending events however it includes the 'paused' time in the duration.

We need to subtract the paused periods (one or more) from the duration.

[2020-04-09 13:10] kunnetcn commented on #275
==========My test source follow this:
playRecord() async {
    flutterSoundPlayer = await new FlutterSoundPlayer().initialize();
    String result = await flutterSoundPlayer.startPlayer
	       (
		      '/storage/emulated/0/chaojiriyu/m01/cn/1.mp3',
		      whenFinished: await playAnotherRecord('/storage/emulated/0/chaojiriyu/m01/cn/2.mp3')
	       );
  }

  playAnotherRecord(file) async {
    pr

[2020-04-09 13:11] kunnetcn commented on #275
It's only can play the first sound on my device.
=============this is my console info:
I/flutter ( 9034): pressed play....
I/flutter ( 9034): whenFinished invoke 22222222222222
D/FlutterSoundPlugin( 9034): mediaPlayer prepared and start
I/flutter ( 9034): startPlayer result: /storage/emulated/0/chaojiriyu/m01/cn/2.mp3
V/MediaPlayer( 9034): resetDrmState:  mDrmInfo=null mDrmProvisioningThread=null

[2020-04-09 13:15] Larpoux commented on #275
First impression  :
You must not call ```'initialise()'``` and ```'realease()'``` during your process.
You must call ```initialize()``` before your process and ```release()``` when your audio process is finished.

But ```release()``` is commented, so I think that flutter_sound does not execute ```initialise()```.

[2020-04-09 13:20] Larpoux commented on #275
whenFinished: is a lambda function (a closure as young people call that).

Your code is not correct :
[code]

You must use :
[code]

[2020-04-09 13:21] kunnetcn commented on #275
I think the problem is not initialise method.when i run the playRecord method.firstly, the first sound is palying,and at the same time,whenfinished method is invoked,but ths first sound is not complete,so someting wrong there.

[2020-04-09 13:23] Larpoux commented on #275
```playAnotherRecord(file) ``` does not need to be async, and no need to do ```await``` inside.

[2020-04-09 13:24] kunnetcn commented on #275
it's ok,thanks for your answer!Best Regards!

[2020-04-09 13:25] Larpoux commented on #275
No problem. It was a pleasure.
Do not hesitate to come back if you have more problems.

[2020-04-09 13:32] Larpoux commented on #278
Yes @bsutton . We are going to fix that.
Thank you for your PR (Problem Report).

[2020-04-10 00:04] bsutton commented on #265
I'm still having problems with this one.

I've added the ext clause to the end of my gradle but I still get the same error:

[code]

build.gradle
[code]

[2020-04-10 07:45] Larpoux commented on #265
OK

[2020-04-10 21:20] kmusham commented on #273
I'm getting the same exact error and I could not compile and run on emulator. but if build like 'flutter build ios ...' works fine without compilation errors.

[2020-04-10 22:21] bsutton commented on #265
I've reported this issue on flutter-ffmpeg as it seems like an issue with their package.

https://github.com/tanersener/flutter-ffmpeg/issues/123

[2020-04-11 08:29] Larpoux commented on #265
@bsutton :
I investigate this bug  a bit more.
Could you try to put the line :
[code]
on top of ```yourApp/android/build.gradle``` and eventually remove this line from ```yourApp/android/app/build.gradle``` ?

[2020-04-11 09:23] Larpoux commented on #273
Perhaps this is a problem with your Xcode configuration.
Are you sure to open ```Runner.xcworkspace``` and not ```Runner.xcodeproj``` ?

[2020-04-11 09:44] Larpoux commented on #273
What is your target Version ?
We are using  10.x without failure.
Maybe problems with old iOS SDK :
SDK 9.x is probably the minimum.

[2020-04-11 09:52] Larpoux commented on #273
I confirm : SDK 9.3 is the minimum for the audio-lts package.
And SDK 12.1 for the Main release

In Xcode :
- Select your **target** and go to the **General** tab.
- Check your target version

[2020-04-11 11:01] tuanbs commented on #273
OMG, please mention this one in the `README` file. I spent 4 hours to get this solution. I was unable to built the project as Xcode set default version to `8.0`. After changing it to `9.3`, it builds successfully. Anyway, thanks for this package. Very useful.

[2020-04-11 11:02] Larpoux commented on #273
Glad to hear that you solved your problem.

[2020-04-11 11:06] Larpoux commented on #265
Your problem is probably solved, by putting the correct line in ```yourApp/android/build.gradle```.

But my feeling is that too many developers have too many problems with this flutter_ffmpeg dependency.
Actually there is only two places where we need flutter_ffmpeg :
- To evaluate the duration of a record
- To encode OGG/OPUS on iOS

But my plan is to use this plugin intensively in the future to

[2020-04-11 12:39] kmusham commented on #273
target set to 9.3.
podfile updated.
opening workspace not the project file.
See the screenshots below and the compilation errors.

<img width="827" alt="Screen Shot 2020-04-11 at 7 32 24 AM" src="https://user-images.githubusercontent.com/6372373/79043846-82b79880-7bc7-11ea-9c37-b84eabd6f462.png">
<img width="827" alt="Screen Shot 2020-04-11 at 7 32 38 AM" src="https://user-images.githubusercontent

[2020-04-11 12:54] kmusham commented on #273
updated to latest version but still I could not compile.
  flutter_sound: ^3.1.6

[2020-04-11 13:04] Larpoux commented on #273
I will try to look deeper on this issue in a few days (now I am very, very busy).
Good bet is that there is something wrong in your ios project parameters. But actually I have no idea what.
You can look my last comment on #265 : flutter_ffmpeg dependency is painful, and it will be good if we can get rid of it.

[2020-04-11 13:25] bsutton commented on #265
Not keen on the fork idea as  we need to maintain the fork.

On the flip side calling the code from Java Swift also makes the code
harder to maintain.

I don't understand your concern about plugin size?

What if we only supported a single codec in the core package. If people
want other codecs then they can link their preferred conversion package.

This is possibly an issue with streaming but we co

[2020-04-11 13:32] theecn opened #280 "PlatformException(ERR_UNKNOWN, ERR_UNKNOWN, Prepare failed.: status=0x1)"
### Version of flutter_sound
3.1.0
## flutter doctor
![image](https://user-images.githubusercontent.com/22100544/79044979-1d04f400-7c3b-11ea-96df-d9712b37350b.png)

### Platforms you faced the error (IOS or Android or both?)
android
### Expected behavior
play remote aac file
### Actual behavior
get  error
![image](https://user-images.githubusercontent.com/22100544/79044918-c26b9800-7c3a-11ea-9011-

[2020-04-11 13:37] Larpoux commented on #265
I have the impression that there is two kind of flutter_sound developers :
- Those who wants a very simple plugin, easy to maintain. A plugin which does not do everything, but do those things correctly and easily.
- Those who wants a plugin which does what the App need, without bothering with other things like threads, streams, format conversion, ... and without dealing with other libraries like f

[2020-04-11 13:50] Larpoux commented on #280
The flutter_sound example can play https://...  sound without any problem.
So I do not think that your problem is caused by the http protocol.

At first seeing your initialization seems correct.
Your logs show that the problem occurs during the prepare() statement on the Android Audio Player.
Are you sure of your source (file accessible, and with a format supported by flutter sound ?).

Actually I

[2020-04-11 13:57] theecn commented on #280
yep ,the aac audio file was created by the flutter_sound.And I downloaded it from server ,it works on mac system player

[2020-04-11 18:19] lstimac opened #281 "Can't show skip backward and skip forward buttons on lock screen"
### Version of flutter_sound
3.1.6
## flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel unknown, v1.12.13+hotfix.8, on Microsoft Windows [Version 10.0.18363.720], locale en-GB)
[√] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[√] Android Studio (version 3.6)
[√] VS Code (version 1.44.0)
[√] Connected device (1 available)

[2020-04-11 18:40] lstimac commented on #281
Solved: It is working, I just had to expand notification card on the lock screen to expose the skip functions.

[2020-04-11 18:40] #281 closed

[2020-04-11 18:42] Larpoux commented on #281
Hi @lstimac .
Thank you for your encouragements. 😸
Glad to know that you fixed your issue.
Do not hesitate to come back if you have other problems.

[2020-04-11 21:37] bsutton commented on #265
The idea of two packages could address the issue of two types of developer.

A base package that doesn't include ffmpg and a full package that does.

Otherwise can flutter sound not set the gradle flag so we only ship auto-lts

On Sat, 11 Apr 2020, 11:37 pm Larpoux, <notifications@github.com> wrote:

[2020-04-12 02:46] bsutton commented on #265
OK, that fixed the problem.
Thanks.

[2020-04-13 05:10] tonypottera24 opened #282 "onRecorderDbPeakChanged stops responding after resumeRecorder() is called"
### Version of flutter_sound
`flutter_sound: ^3.1.6`

## flutter doctor
[code]

### Platforms you faced the error (IOS or Android or both?)
Android

### Expected behavior
`onRecorderDbPeakChanged` should keep returning values after `resumeRecorder()`.

### Actual behavior
`onRecorderDbPeakChanged` stops responding after `resumeRecorder()`.

### Tested environment (Emulator? Real Device?)
Real Devi

[2020-04-13 05:10] tonypottera24 commented on #246
move to #282

[2020-04-13 06:02] Larpoux commented on #282
OK, @tonypottera24 .
I will look to this issue in a few. days.

Too bad that you encounter problems with flutter_sound.

[2020-04-13 13:12] Larpoux commented on #195
Hi @tianshangwuyun

Is your issue still relevant, or it has been fixed by recent releases ?

[2020-04-13 13:18] Larpoux commented on #212
Hi,

This issue had been filled several months ago (sorry for the delay). I am wondering what is the current state of this issue.
Is it still relevant ?
If yes, I think it would be very interesting to go deeper in it.

[2020-04-13 13:22] Larpoux commented on #212
I think that this issue is tied to #235

[2020-04-13 13:23] Larpoux commented on #235
I feel that this issue is the same as #212

[2020-04-13 13:26] Larpoux commented on #251
Is your request for iOS or Android ?
Flutter Sound 3.1.6 changed a little bit its code for iOS (#252).

Could you try, and tell us if your request is completely addressed ?

[2020-04-13 13:30] Larpoux commented on #265
Please, feel free to reopen this issue if you think it has not be addressed properly.

[2020-04-13 13:30] #265 closed

[2020-04-13 13:41] Larpoux commented on #273
What is interesting in your screen shots is that flutter_ffmpeg does not find :
[code]
This file is part of ```flutter_ffmpeg``` interface, and should be accessible by Xcode (if your pubspec.yaml mentions this plugin, and you did a ```flutter pub get```)

Can you do ```flutter pub deps``` and check if flutter_ffmpeg is correctly linked, and its version number ?

[2020-04-13 14:34] Larpoux commented on #275
Do not hesitate to come back if you have more problems.

[2020-04-13 14:34] #275 closed

[2020-04-13 14:36] Larpoux commented on #278
I do not see any problem on the Example App.

[2020-04-13 14:44] Larpoux commented on #280
Just a remark : ```playerModule.initialize()``` is called two times.
The second call is ignored by flutter_sound, but maybe you can remove it.

[2020-04-13 14:46] Larpoux commented on #280
What is ```advancePlayer``` used for ?  Are you sure that there is no conflict with flutter_sound ?

[2020-04-13 14:52] Larpoux commented on #280
Can you post your code for ```startPlayer()``` ?

Note : Android Media Player is very very hard to be pleased with the prepare() function arguments, and does not give us any usefull information except that it is not called in a good state ... Not easy to debug.
Please try again with last flutter_sound version 3.1.7.

[2020-04-13 15:25] Larpoux commented on #282
I inserted your code inside our Example App, and everything OK with the ```onRecorderDbPeakChanged``` .

```_recorderDbPeakChanged()``` is correctly called after ```resumeRecorder()```
Actually, I cannot see any problem in flutter_sound.

[2020-04-13 17:45] JayThadeshwar commented on #245
@hyochan
@Larpoux
@robyroad
So, is there any way I can record call in any other format using `flutter_sound` plugin??
Please, elaborate on how can I achieve VOICE_DOWNLINK.
Thank you for all the responses. :100:

[2020-04-13 18:13] Larpoux commented on #245
Actually, on Android, your choice is very simple 🙄 : the only codec available is AAC.
This will be improved very soon, I hope.
So actually, if you really want another codec, you must decode and re-encode to the new format.
But you cannot do that during recording. You can only do that after the end of the recording.

To record from VOICE_DOWNLINK just specify ```androidAudioSource: AndroidAudioSour

[2020-04-13 18:26] Larpoux commented on #212
@ezfuncreations, @juani15151  :

Yes, I confirm that Flutter Sound and FCM are not good friends together.
I tried to run the Flutter Sound Example with a special APP linked with Firebase Messaging, and it does not work.
Android Media Player is really painful (I have many problems in Flutter Sound not correctly solved because of Android Media Player).
I think it is time, now, to consider rewriting

[2020-04-13 18:27] Larpoux commented on #235
@Josue10599 ,

Yes, I confirm that Flutter Sound and FCM are not good friends together.
I tried to run the Flutter Sound Example with a special APP linked with Firebase Messaging, and it does not work.
Android Media Player is really painful (I have many problems in Flutter Sound not correctly solved because of Android Media Player).
I think it is time, now, to consider rewriting the Flutter Sound

[2020-04-14 00:34] bsutton opened #284 "Method updatePlaybackState does not exists."
I'm seeing an error from TrackPlayer.java.

It is trying to invoke a method 'updatePlaybackState' in the darkt code track_player.dart.

track_player.dart does not have a method 'updatePlaybackState'.

[2020-04-14 03:11] vernalclareai opened #285 "Resume issue"
### Version of flutter_sound
3.1.6
## flutter doctor
 flutter_sound: ^3.1.6

### Platforms you faced the error (IOS or Android or both?)
on both platform
### Expected behavior
Playing the remote audio file is okay, but after finishing the file, if I start playing on the file, it seems downloading the file and playing again.
I was playing *.oga file with OPUS codec from my server.
It should resume

[2020-04-14 08:26] Larpoux commented on #285
What do you expect ? Playing again your file without downloading it ?

[2020-04-14 08:28] vernalclareai commented on #285
I think it should be played without any delay again.

On Apr 14, 2020, 4:27 PM +0800, Larpoux <notifications@github.com>, wrote:

[2020-04-14 08:28] Larpoux commented on #284
It has been fixed in 3.1.7

[2020-04-14 08:28] #284 closed

[2020-04-14 09:55] noobcoder17 opened #286 "albumArtAsset is not showing in notification on TrackPlayer"
albumArtAsset is not showing in notification.

I provided the Asset path as an .png image form local device storage. But it is not showing in the notification of TrackPlayer.

Can anyone give an example how to implement that ?

[2020-04-14 10:11] lstimac opened #287 "PlatformException when calling startPlayerFromTrack method"
### Version of flutter_sound
3.1.7
## flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel unknown, v1.12.13+hotfix.8, on Microsoft Windows [Version 10.0.18363.720], locale en-GB)
[√] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[√] Android Studio (version 3.6)
[√] VS Code (version 1.44.0)
[√] Connected device (1 available)

[2020-04-14 10:17] lstimac commented on #287
### Expanded error

[2020-04-14 10:18] Larpoux commented on #286
This is an extract from ```Dyglot``` App.
It shows the App Icon on the lock screen :
[code]

[2020-04-14 10:21] Larpoux commented on #287
OK. I am going to look to that.

[2020-04-14 10:26] noobcoder17 commented on #286
I got the image path like - /data/user/0/com.example.player/cache/albumArt.png
and i set this as the albumArtAsset of Track.
But the album art is not showing on the notification.
What to do?

Track track = Track (
      trackTitle: songInfo.title,
      trackAuthor: songInfo.artist,
      trackPath: file.path,
      albumArtAsset: "/data/user/0/com.example.player/cache/albumArt.png"
);

[2020-04-14 10:39] lstimac commented on #287
I must be doing something wrong, but I tried using FlutterSoundPlayer and everything works as expected, only TrackPlayer produces these issues :/

I've tried putting startPlayerFromTrack inside a try/catch block, and calling playSong again on catch. It works on debug since it errors the first time but works the second time when MediaControllerCompat is no longer null. The problem is release mode,

[2020-04-14 11:39] Larpoux commented on #286
@noobcoder17 ,
Your .png file is not an asset. So you must not use the parameter ```albumArtAsset:``` .
You can try to use :
```albumArtUrl:  '//file: /data/user/0/com.example.player/cache/albumArt.png'```
but I am not sure that it will work.

Please tell us if OK or not OK. If not OK, I will tag your issue as 'Enhancement'

[2020-04-14 11:53] Larpoux commented on #287
OK @lstimac .
It seems that there is a little bug in Flutter Sound when the App does not initialize correctly its Flutter Sound module. I am going to fix this bug in 3.1.8
You probably can avoid this bug if you do :
[code]
in your ```_init()``` procedure.
Please, tell us if you success or not.

[2020-04-14 11:55] Larpoux commented on #287
Sorry, the correct line tou use is :
[code]

[2020-04-14 12:23] Larpoux commented on #287
OK @lstimac :
Flutter Sound 3.1.8 probably fix your bug.
But still better to initialize your self the Flutter Sound module as expalin above.

[2020-04-14 12:36] lstimac commented on #287
It's working great now on debug when I initialize it myself, but player still won't start in release mode (after doing initialization myself, there is no longer an error in debug console but nothing happens). Does TrackPlayer usually work in release mode?

I am extremely grateful for your fast responses and your time spent on looking into this! 😄

[2020-04-14 12:38] Larpoux commented on #287
Thank you for your congratulations.
We are trying to answer to issues, as faster than we can.
But sometimes we can't because it will need times ... and we do not really have times.

This little bug in Flutter Sound was simple to fix.

[2020-04-14 12:42] Larpoux commented on #287
Of course Flutter Sound is supposed to work on released App !

[2020-04-14 12:56] Larpoux commented on #287
Do you have problem when playing the first song, or after ```playNextSong```

[2020-04-14 12:57] lstimac commented on #287
The problem occurs when starting the player and playing the first song, there is no music whatsoever on release mode for some reason (and no error either) :/

[2020-04-14 12:57] Larpoux commented on #287
Real device or Emulator ?

[2020-04-14 12:59] Larpoux commented on #287
Do you have logs, when running in release Mode ?

[2020-04-14 13:03] lstimac commented on #287
Everything is run on a real device (Huawei Honor 10 Lite). I have no logs in release mode, tried putting startPlayerFromTrack inside a try/catch but it never enters catch since there is no error (it just doesn't start playing).

[2020-04-14 13:06] Larpoux commented on #287
Without the logs it is very difficult to understand what happens.
Do you have a return from "StartPlayerFromTrack()" ?
If yes, what is the value returned ?

[2020-04-14 13:16] lstimac commented on #287
I think it gets stuck in the await startPlayerFromTrack, because no result gets printed and there is no error. Can you tell me would be the best way to log what happens in the app so we can see what happens during that method call?

[2020-04-14 13:29] Larpoux commented on #287
What I would do with Android Studio would be :
- Open your project
- Click on the root of your project
- With the right mouse button : select "Flutter" > "Open Android Module in Android Studio"
- Run your project in Release Mode (Green triangle pointing to the right)
- Open 6: Logcat tab (bottom left of your screen)
- In Logcat tab : select your device in the combo-box
- In Logcat tab : select the

[2020-04-14 13:31] lstimac commented on #287
Good idea, I'm currently in VS Code, I'm gonna try running the app in Android Studio. TrackPlayer works fine for you in release mode?

[2020-04-14 13:32] Larpoux commented on #287
Yes, sure it does.

---------
/Larpoux
On 14 Apr 2020 at 15:32 +0200, Luka Štimac <notifications@github.com>, wrote:

[2020-04-14 14:22] lstimac commented on #287
I just found out what the issue was, ran the app through Android Studio and Logcat error said MediaPlayerService requires Internet permission (obviously) to start this service in a release version of the app. I thought about the possibility this occurs because of a permission issue, but it's strange that debug worked fine without this permission. Everything is working as expected now, and I should

[2020-04-14 14:22] #287 closed

[2020-04-14 14:25] Larpoux commented on #287
You are welcome. It was a pleasure.
Do not hesitate to come back if you have other issues.

[2020-04-14 16:25] noobcoder17 commented on #286
I added this <b>file:///storage/emulated/0/Android/data/com.android.providers.media/albumthumbs/1502372031642.png</b> and without .png as the albumArt.

in albumArtUrl - the app crashes.
in albumArtAsset - image not showing.

What to do?

[2020-04-14 17:12] Larpoux commented on #286
Actually, I think that Flutter Sound cannot display an arbitrary file *.png
It just can display a specific asset or a remote image (using HTTP).

I agree that it is weak. I am flagging this issue as a needed enhancement.

[2020-04-14 18:01] Larpoux commented on #273
@GiovanniSybot , @kmusham

We are currently working on the version 4.0.0 of Flutter Sound.
With this new version, the App will not need to depend any more on flutter_ffmpeg.

It would help us if you can try the version `4.0.0-beta.1` and tell us if it solve your actual problem.
But be careful : With this new version you **MUST** remove your dependency on ffmpeg and remove from your build.gradle an

[2020-04-14 20:04] Larpoux opened #288 "Flutter Sound Version 4.0.0"
Hi, guys and girls,

It is time to think about the future Flutter Sound version 4.0.0

My thinking is that the major development that we must do is to support, on Android, a way to record without using this horrible ```Media Recorder```.
If we use the low level API ```Android AudioRecord``` instead of ```MediaRecorder```, it will open doors on many good improvements :
- Record OGG/OPUS (this is al

[2020-04-14 20:41] Larpoux commented on #288
Other developments that we may consider for the V4.0.0 are :

- Rewrite the documentation. With a good documentation, the developers will save time for their own code, and we will save time too on the Flutter Sound Support

- Rewrite the Example App. Actually on the V3.1.x the Example App is not really a good example to follow for the developers. A good example will help the developers and we will

[2020-04-14 20:51] Larpoux commented on #286
@noobcoder17 :
I will do something tomorrow for your request.
This is really stupid that Flutter Sound cannot display a png image.

This enhancement will be filled tomorrow or thursday.

[2020-04-14 22:37] Larpoux commented on #288
Other tasks we may consider :

- Android and Apple watch support. (we already support those devices, but it is not perfect)
- Compatibility with FCM (#212)

If there is developers who have spare time and want to contribute to this great product (Flutter sound ;-) ), it is the good moment to raise your hand, so that we can dispatch all those tasks to our army of developers ;-)

[2020-04-14 23:06] bsutton commented on #288
1) doco - I would view this as the most critical. There is no point having
a package if it's hard to use.
We need to provide doco on every public method and ensure that we don't
expose any methods, fields which should not be public.
Essentially this is about making the public api as simple as possible.

We should also review the api for any inconsistencies. One that stands out
is that the player h

[2020-04-14 23:23] Larpoux commented on #288
I understand your point of view. Your two points will spare the time spent for the Developers support.
Then we will have more time to develop new functionalities.

But I have also the feeling that many developers are waiting for a possibility to record to a stream, so that they can use Flutter Sound for things like Speech-to-Text.

I remember that you are ready to re-read a draft that would have w

[2020-04-14 23:55] tonypottera24 commented on #282
Thank you for your help, but I think the example project has same issue on my phone
[code]

[2020-04-15 00:06] Larpoux commented on #282
[code]

This code is probably incorrect : you do not ```await``` the result of ```_flutterSoundRecorder.pauseRecorder()``` before calling ```_flutterSoundRecorder.resumeRecorder();```

[2020-04-15 00:08] tonypottera24 commented on #282
I'm awared this bug, but the log was generated by the example project without any part of my codes

[2020-04-15 00:15] tonypottera24 commented on #282
`flutter run -v` shows similar log
[code]

[2020-04-15 01:26] bsutton commented on #288
The speach to text engines I've looked at all require you to send a recording. I've not seen any that will take a continuous stream?

Send me a link to the draft.

[2020-04-15 03:17] zhangruiyu commented on #288
Support other codecs, like MP3 (several developers want MP3)

[2020-04-15 09:00] chenft opened #289 "app crash when call trackPlayer.release"
### Version of flutter_sound
3.1.8
## flutter doctor

### Platforms you faced the error (IOS or Android or both?)
android

### Actual behavior
sometimes when I release the trackerPlayer, app will crash.

such as:
await audioPlayer.release();

### Tested environment (Emulator? Real Device?)
real device
### Steps to reproduce the behavior
1.initialize the trackplayer
2.startPlayerFromTrack
3. switch

[2020-04-15 09:02] Larpoux commented on #289
We need your logs.

[2020-04-15 09:06] chenft commented on #289
I/MediaPlayer(32165): [HSM] stayAwake false uid: 10155, pid: 32165
D/MediaPlayerNative(32165): Action:stop, CurrentState:MEDIA_PLAYER_STOPPED
D/MediaPlayerNative(32165): Message: Unknown MediaEventType(8), ext1=0, ext2=0x0
D/MediaPlayerNative(32165): [notify] : [1204] callback app listenerNotNull=1, send=1
D/MediaPlayerNative(32165): [notify] : [1216] callback application
I/MediaPlayer(32165): [HS

[2020-04-15 09:08] chenft commented on #289
@Larpoux

I/MediaPlayer(32165): [HSM] stayAwake false uid: 10155, pid: 32165
D/MediaPlayerNative(32165): Action:stop, CurrentState:MEDIA_PLAYER_STOPPED
D/MediaPlayerNative(32165): Message: Unknown MediaEventType(8), ext1=0, ext2=0x0
D/MediaPlayerNative(32165): [notify] : [1204] callback app listenerNotNull=1, send=1
D/MediaPlayerNative(32165): [notify] : [1216] callback application
I/MediaPlayer(3

[2020-04-15 09:10] Larpoux commented on #289
OK, I am going to look to that.

[2020-04-15 09:22] chenft opened #290 "TrackPlay display error on notification"
### Version of flutter_sound
3.1.8
## flutter doctor

### Platforms you faced the error (IOS or Android or both?)
android

### Actual behavior
![277381586941987_ pic](https://user-images.githubusercontent.com/17562266/79321214-93f10400-7f3d-11ea-9231-f09be56698ed.jpg)
![277391586941988_ pic](https://user-images.githubusercontent.com/17562266/79321223-97848b00-7f3d-11ea-9f22-28e593ef1b9c.jpg)
![277

[2020-04-15 09:31] Larpoux commented on #289
I think that there is a little bug in Flutter Sound when the App try to ```release()``` the player during a playback.
I will fix that.
In the meantime, could you add a ```await myFlutterSoundModule.stopPlayer();``` just before your ```release()``` and tell me if it is better.

[2020-04-15 09:38] Larpoux commented on #290
OK. I will look to this issue.
(I am currently working on the lock-screen `Album Art` in the future version Flutter Sound 4.0.0)

[2020-04-15 09:44] Larpoux commented on #290
Is your Album Art a remote file (HTTP://...)  or a local file ?

[2020-04-15 09:48] chenft commented on #289
@Larpoux
I accept your advance, try to add await audioPlayer.stopPlayer() before release, but it's not working

[2020-04-15 09:49] Larpoux commented on #289
Same crash ?

[2020-04-15 09:51] chenft commented on #290
@Larpoux remote file

[2020-04-15 09:55] chenft commented on #289
@Larpoux
yeap

[2020-04-15 10:09] JayThadeshwar commented on #245
@Larpoux
I tried using `androidAudioSource: AndroidAudioSource.VOICE_DOWNLINK` in `startRecorder()` but again I got two AAC files which are corrupted(it doesn't contain any data).

Then inorder to check if my code is working properly or not I tried changing `androidAudioSource: AndroidAudioSource.VOICE_COMMUNICATION` and it works properly.

So, I think so there is some problem while recording call

[2020-04-15 10:10] chenft commented on #290
@Larpoux

I have'd read your article.
But you don't mention about pause or play callback on lock-screen.
When I use your trackplayer, I don't know how to listen pause or play event on lock-screen.
On the other hand, after I pause or play on lock-screen, I try to get audioplay.isPlaying value on foregraund, such as onPlayerStateChanged.
Unfortunately, audioplay status is always incorrect.
Did you s

[2020-04-15 11:00] Larpoux commented on #245
@JayThadeshwar ,

This is interesting information. Probably Flutter Sound is actually not compatible with VOICE_DOWNLINK.
I am tagging your issue as `Enhancement` requested.

[2020-04-15 11:06] Larpoux commented on #290
If you want to handle PLAY/PAUSE from the lock-screen you must use the `whenPaused:` parameter in `startPlayerFromTrack()`.

- `audioPlayer.isPlaying` is true when playing (not paused)
- `audioPlayer.isplaying` is false when paused or stopped

Could you most a snippet of your code ?

[2020-04-15 11:25] chenft commented on #290
@Larpoux

Map justData = {
      'track': Track(
                trackPath: item['song_url'],
                trackTitle: item['song_name'],
                trackAuthor: item['artist_name'],
                albumArtUrl: item['song_cover']
              ),
              ...item
    };

Future<String> result = audioPlayer.startPlayerFromTrack(
              songData['track'],
              whenFinis

[2020-04-15 11:27] Larpoux commented on #290
`whenPaused()` does not have any argument. `res` is probably not good.

[2020-04-15 17:12] hatemragab opened #291 "app size after release"
Version of flutter_sound 3.1.8

 app size after release when add flutter_sound plugin very big!  how can I reduce app size

[2020-04-15 17:21] laoluibitoye commented on #291
I have a similar issue, my app size tripled after adding the flutter_sound plugin. Is there any workaround to this?

[2020-04-15 17:23] Larpoux commented on #291
This is bad. We must investigate why. Flutter Sound should be very small and light.

[2020-04-15 17:25] hatemragab commented on #291
![image](https://user-images.githubusercontent.com/37384769/79367878-d66f0c80-7f4e-11ea-8aba-dc5fb39ef2a7.png)

[2020-04-15 17:36] hatemragab commented on #291
you can create a new flutter project and just app flutter_sound and try to release the app

[2020-04-15 18:31] claptimes5 opened #292 "Resume recording fails after playing recording on actual iOS device only"
### Version of flutter_sound
3.1.8

## flutter doctor
[code]

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
On the iOS simulator, I can:
1. Start recording
2. Pause recording
3. Play that recording
4. Resume recording where I left off

On my iPad (device)
1. Start recording
2. Pause recording
3. Play that recording
4. Resume recording where I left off

###

[2020-04-15 19:49] phanirithvij commented on #79
The volume is still very low `flutter_sound: ^3.1.6`

[code]

[2020-04-15 20:37] hatemragab commented on #291
this error appeared from version 3.0.0 and above

[2020-04-16 00:00] bsutton commented on #288
I have to say I'm not in love with having two modules.
I don't really understand why we even have two player modules.

From a users perspective I don't want to have to deal with the internals of the api.
I just want two simple to use modules
AudioRecorder
AudioPlayback
These names are concise and clearly express the intent.

The use of the FlutterSound prefix on the names is redundant. We also sho

[2020-04-16 00:22] bsutton commented on #288
I would like to suggest changes to the subscription apis.

For recorder we currently have a no. of methods for setup up a subscription:

setSubscriptionDuration
setDbPeakLevelUpdate
setDbLevelEnabled
onRecorderStateChanged
onRecorderDbPeakChanged

I would like to suggest that we merge this down to a single api call:
[code]

I don't think there is any need to cancel this call. Whilst there is a per

[2020-04-16 04:13] bsutton opened #294 "Create Unit tests"
To ensure the stability of the api we really need to develop a set of unit tests.

[2020-04-16 04:45] tgarm opened #295 "Would it possible support on-the-fly PCM playback?"
It's a feature request.
I have some dynamically generated PCM samples which are expected to be keep playing.
I tried to dynamically generated WAV file, and append the file incrementally.
* first generate a WAV file with a single "chunk", and set the WAV header to have a long time.
* then append the file with certain interval.
But it seems the player just played the first chunk and then stop.

Is t

[2020-04-16 04:51] bsutton commented on #285
There is an argument that we should leave to the user to cache the file themselves.
If we start caching files pulled from a url there are then management questions about how many files we should cache and for how long.

[2020-04-16 04:52] bsutton commented on #278
I've implemented this in the 4.x branch.
Will push later today.

[2020-04-16 05:35] sgehrman opened #296 "flutter_sound 3.1.8 crash on startup"
flutter_sound: ^3.1.8

On startup.  Doesn't happen every time.  I'm on Android.  I have some bluetooth headphones, which are turned off if that makes a difference.

W/MediaPlayer( 7028): Use of stream types is deprecated for operations other than volume control
W/MediaPlayer( 7028): See the documentation of setAudioStreamType() for what to use instead with android.media.AudioAttributes to qualify

[2020-04-16 07:04] Larpoux commented on #288
Yes my friend.
I totally agree.
We can/must change that in V4.x.x

[2020-04-16 07:15] Larpoux commented on #295
This would be a very interesting feature in V4.
Please keep this issue OPEN.

[2020-04-16 07:17] Larpoux commented on #285
I agree with the @bsutton answer.

[2020-04-16 07:22] Larpoux commented on #296
Too many developers get this crash sometimes.
I definitely want to put this PR (Problem Report) on top of the list TODO.

[2020-04-16 08:00] chenft commented on #290
@Larpoux

But you have set parameters in your function definition
![63731587023672_ pic](https://user-images.githubusercontent.com/17562266/79429830-a54c1600-7ffa-11ea-8471-9281688c7167.jpg)

And I saw TrackPlayer's code, there might no place to trigger the whenpause function
![63711587023442_ pic](https://user-images.githubusercontent.com/17562266/79429945-c90f5c00-7ffa-11ea-9a8a-dc54601ddb63.jpg

[2020-04-16 08:05] Larpoux commented on #290
Pause/Resume is handled in the super class (flutterSoundPlayer) :
[code]

[2020-04-16 08:31] chenft commented on #290
@Larpoux
okay.
But pause or resume never trigger when I debugger on FlautoPlayerPlugin's channelMethodCallHandler.

[2020-04-16 08:44] Larpoux commented on #290
I am going to look to that.

[2020-04-16 08:47] chenft commented on #290
@Larpoux

3.1.8

[2020-04-16 09:49] Larpoux commented on #286
Hi @noobcoder17 ,

In the future version 4.0.0 we will have a new parameter in the Track structure :
`albumArtFile` which is a String representing a local file that points to the image to display in the notification as album art.

You can specify just one field for the Album Art to display on the lock screen. Either :
- albumArtUrl
- albumArtFile
- albumArtFile

If no Album Art field is specified,

[2020-04-16 09:49] #286 closed

[2020-04-16 10:29] hatemragab commented on #291
is there any updates?

[2020-04-16 11:31] theecn commented on #280
Thanks,I changed other phone to test it,it works well. the Android Version is 8.0.0, core is 4.4.23+. by the same,fk the bad manufator

[2020-04-16 11:31] #280 closed

[2020-04-16 11:38] Larpoux commented on #280
I am very glad that you solved your PR (Problem Report).
Do not hesitate to come back if you have problems.

[2020-04-16 12:16] Whfall commented on #286
@Larpoux,
Hi, thanks for the library! What can I do wrong? The album icon is displayed only after you click the pause button

[2020-04-16 12:20] Larpoux commented on #286
Yes, I saw that when the Album Art is a remote file.
It is possible that it is a problem in Flutter Sound and not your fault.
I am going to look to that very soon.

Please keep this issue Open.

[2020-04-16 12:26] Whfall commented on #286
@Larpoux,
OK, thanks for the answer! But can I change the standard Flutter icon to my own if the album photo didn't load?

[2020-04-16 12:31] Larpoux commented on #286
You will be able to specify your own local xxx.png  in version 4.0.0 .
You can try ^4.0.0-beta.2

Yes, you are right : if we cannot load a remote Album Art, flutter_sound should try to use the AppIcon.png (on Android) and AppIcon(on iOS).

If not successful, then flutter_sound should let the OS handle itself this image.

[2020-04-16 12:39] Whfall commented on #286
@Larpoux,
Thank you again, you are very responsive. Last 2 questions: can I set the progress bar to play a track? And why does the lock screen only display the pause button?

[2020-04-16 12:42] noobcoder17 commented on #291
I just created a new Flutter project , added the flutter_sound package, then build an apk in release mode. Size of the apk is 46.5 MB.

[2020-04-16 12:42] Larpoux commented on #286
If you want to have the `skipForward` and `skipBackward` buttons, you must specify the arguments `onSkipForawrd:` and `onSkipBackward` during your `startPlayerFromTrack()`

[2020-04-16 12:47] Whfall commented on #286
@Larpoux,
Ok, ty.

[2020-04-16 12:54] Larpoux commented on #296
@sgehrman  :

Could you try Flutter Sound ^3.1.9 and tell us if better ?

[2020-04-16 13:45] hatemragab commented on #291
wow new app must less than 20 MB

[2020-04-16 14:00] Larpoux commented on #292
We need the logs when **Resume recording fails**

[2020-04-16 14:05] Larpoux commented on #290
We need your logs and a recent snippet of your code.

We can only reproduce a bug on Android when we try to show a remote Album Art.
I am currently looking to that.

[2020-04-16 14:40] Dorbmon opened #297 "Will this plugin support Flutter Web?"
Will this plugin support Flutter Web?

[2020-04-16 14:44] Larpoux commented on #297
Oh, YESSSSSS !!!! It would be really great.

Unfortunately, we are actually really busy with flutter_sound maintenance. Hard to develop important new feature. (We really want that flutter_sound really good on the maintenance side).

You should talk with @hyochan . I think he has some ideas in this area.

[2020-04-16 14:47] Dorbmon commented on #297
Haha.I'm waiting for it.But I think it needs a big change about the callback method after all the flutter web doesn't support dart:io.

[2020-04-16 15:07] claptimes5 commented on #292
There is no log output for the failure. Here is the debug screen where I get a `false` back from `resumeRecorder`
![image](https://user-images.githubusercontent.com/583936/79472829-51c5d200-7fd2-11ea-9921-1f28254a57ae.png)

[2020-04-16 15:13] claptimes5 commented on #292
Actually, there I do get an error when trying to get the current position of the recording upon resuming

[code]

[2020-04-16 15:25] Larpoux commented on #289
Could you try Flutter Sound 3.1.10 and tell us if better.
If not better, post the new logs.

[2020-04-16 16:01] claptimes5 commented on #292
I modified the flutter_sound example app to be able to play back paused recordings and it works correctly on my device. Using the modified example app, I can:

1. Start recording
2. Pause recording
3. Play that recording
4. Resume recording where I left off
5. Pause recording again
6. Play back recording
7. And on and on

I think this may be an issue with my own app, but I really don't know why th

[2020-04-16 16:35] Larpoux commented on #291
It should be possible, I think, to maintain a strip down version of Flutter Sound, which does only playback and does not support OGG/OPUS playback on iOS.

But this would add some work on the maintenance side. Is it really something like that, that you want, you, the App developers ?

[2020-04-16 17:35] noobcoder17 commented on #291
Please make two seperate packages. I don't think it will be a difficult
task for you. Developers may need only the audio player features. In that
case by importing this whole flutter_sound package, they really don't want
to increase the app size. Please make two seperate packages. We love your
work.

Akash Debnath

On Thu 16 Apr, 2020, 10:06 PM Larpoux, <notifications@github.com> wrote:

[2020-04-16 17:41] Larpoux commented on #291
@hyochan  ? What is your point of view ?

[2020-04-16 18:01] Larpoux commented on #291
@noobcoder17  :
If really we maintain a `flutter_sound-light` version, will this light version support `TrackPlayer` (the possibility to control flutter_sound from the lock screen) ?
`TrackPlayer` is probably the other place where flutter_sound get its weight.

[2020-04-16 18:11] noobcoder17 commented on #291
Yes , we need Track Player in the light version.

Akash Debnath

On Thu 16 Apr, 2020, 11:31 PM Larpoux, <notifications@github.com> wrote:

[2020-04-16 18:11] Larpoux commented on #291
Something that I loved with the Flutter Sound project, was that it was light and simple.
but there are two categories of developers who use `Flutter Sound``` :
- Those who need many functionalities. For example the possibility to use `Flutter Sound` for Speech to Text, record MP3, control Flutter Sound from an Apple watch, ...
- Those who need a very simple and light product.

Maintaining a light

[2020-04-16 18:16] Larpoux commented on #291
@noobcoder17 : could you live without `Track Player` ?
We cannot maintain 12 versions of Flutter Sound.
Some other developers will say that they are not interested in `Track Player` and want a really light tool.

[2020-04-16 18:21] noobcoder17 commented on #291
I think there are two main functions of this package. One is to play sonds
and other is to record sond. I am just asking to separate those two
functionality if you can. But if it's hard to maintain , then make a
lighter version as you wish so that our app size is minimised. Thanks.

Akash Debnath

On Thu 16 Apr, 2020, 11:46 PM Larpoux, <notifications@github.com> wrote:

[2020-04-16 18:23] Larpoux commented on #291
OK, I will think about that.
In every case, we must wait for a green traffic light signal from @hyochan : this is a major design choice.

[2020-04-16 18:39] Larpoux commented on #291
Because I am in charge of Flutter Sound maintenance, I see another benefit aspect with a light version : this version would be very less buggy.
I must confess that I worry a little bit with the `Track Player` maintenance.

[2020-04-16 19:07] srihariash999 commented on #291
@Larpoux I recently started building a podcast client using Flutter sound, so the TrackPlayer Feature was kind of essential. But, seeing this now, 100 mb+ podcast client will be useless. Is there a way to strip the recorder features completely and just keep trackplayer features intact? Will that be a very hassle-included modification?

[2020-04-16 19:12] Larpoux commented on #291
I think the answer is yes. If a majority of App developers really want Track Player, it is possible to keep it in a light version of flutter_sound.
In any case must wait for the green traffic light from @hyochan .

[2020-04-16 19:15] Larpoux commented on #291
No, it will not be intact. OGG/OPUS playback on iOS, for example, would not be possible anymore.

[2020-04-16 19:28] srihariash999 commented on #291
OGG/OPUS thankfully is not a problem for me, I mainly deal with mp3 files most of the time. Main reason for choosing the flutter_sound for me was the lockscreen and notification shade player. And the way we can show the details in those easily.

[2020-04-16 19:32] Larpoux commented on #291
😆 .
Thank you for your feedback. We definitely need to understand what Flutter Sound is used for, so that we can organize the priorities.
We have many, many things in the pipe-line. Too many for my taste.

[2020-04-16 21:13] Larpoux commented on #290
@salvatore373 ,
We really hope that everything fine, for you.

Per favor, could you look to this bug ?
Actually, the Album Art is not displayed on Android when the App specify a remote URI file.
But it is displayed when the user hit 'Pause' on the lock screen.

Thank you very much if you can do something for that.

[2020-04-16 21:25] salvatore373 commented on #290
@Larpoux I have already solved this problem in my fork of flutter_sound. Take a look at it
Could you please also take a look to my PR to your `flauto` project?

[2020-04-16 21:31] Larpoux commented on #290
Yes, I will.
But please do your PR on `flutter_sound` project and not anymore on `flauto`.
`flauto` has been merged into `Flutter Sound 3.x.x` and is dead, now.

Great if this bug has been fixed in your fork.
I worry a little bit for `Track Player` maintenance (`Track Player` is `flauto` name in the release version).

Have a good sleep.

[2020-04-16 21:34] srihariash999 commented on #291
I built my app which currently just has two screens and uses only flutter_sound to verify if it is actually big. Thee release version is 50~ MB. It is definitely heavy. Is that 'needs more investigation' tag for the confirmation of this issue?

[2020-04-16 21:39] Larpoux commented on #291
'needs more investigation' tag is because we must locate what is the reason of this size.
I really think it is caused by `mobile_ffmpeg`, but we must double-check this supposition.
It would be stupid to do major developments, and realize after finished that the size has not decreased substantially.

[2020-04-16 21:54] hatemragab commented on #291
I think flutter_sound_record and flutter_sound_player will be great

[2020-04-17 01:10] vernalclareai commented on #285
You can give the count limited for the cache files.
and  files cached will be cleared automatically when the app close.

[2020-04-17 01:17] bsutton commented on #285
There would need to be a size limit not just a count limit. The concept of an app closing is also not so much a thing.
Most people don't 'close' an app but leaving it hanging. I assume we can probably detect this state but if the user just 'moves' away from the app then comes back should we have cleared the cache?
These feel like decisions that should be made by the app developer not by a plugin d

[2020-04-17 02:44] bsutton commented on #288
I'm working through the TrackPlayer to see if I can combine it with the SoundPlayer so we have a single simple interface.

I'm a little uncertain how the TrackPlayer treats a Track.
Is Track the correct terminology or is this really an Album?
If its just a Track how are 'skip forward' and 'skip backward' meant to work?
i.e. if its just a track then you can't skip forward to the next track.

If it

[2020-04-17 02:46] bsutton commented on #288
I noticed that we have code in both the dart and java/swift that convert a databuffer into a file.
I've not changed the java/swift code but I'm nolonger passing a databuffer to the plugin but rather always converting into to a file first.
The idea is that we should keep as much of the logic in dart as possible as it is easier to maintain.
Is there any reason that I've missed as to why it would nee

[2020-04-17 03:14] SeanningTatum opened #298 "flutterSound.resumeAudio() throws an error when using flutterSounds.startPlayerFromBuffer(buffer)"
### Version of flutter_sound
flutter_sound: ^2.0.4

## flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.12.13+hotfix.9, on Mac OS X 10.15 19A546d, locale en)

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 11.3.1)
[✓] Android Studio (version 3.2)
[✓] VS Code (ver

[2020-04-17 03:30] SeanningTatum commented on #298
Just realized I was using such an outdated version. Closing.

[2020-04-17 03:30] #298 closed

[2020-04-17 03:46] hyochan commented on #297
This is really interesting issue. There is a great proposal in [this article](https://link.medium.com/xyWQ4RhHJ5).

I am full of stock currently but I am very interested (I hope I have time..)

[2020-04-17 04:16] chenft commented on #289
@Larpoux
I run flutter_sound 3.1.10 on my project, the crash seems not  reappear，and leave so many log : MediaPlayerOnPreparedListener timer: mMediaBrowserHelper.mediaControllerCompat is NULL

[2020-04-17 04:33] chenft opened #299 "Stop/pause flutter_sound when playing with other sound"
### Version of flutter_sound
3.1.10
### Platforms you faced the error (IOS or Android or both?)
android
### Expected behavior
1.when I play other sound with other apps, flutter_sound should pause.
2.when I play flutter_sound, other sound should pause.
### Actual behavior
Now only (when I play flutter_sound, other sound should pause) is enable
### Tested environment (Emulator? Real Device?)
real de

[2020-04-17 04:50] hyochan commented on #291
Well, in this case, there is already a library.
[audio_recorder](https://github.com/ZaraclaJ/audio_recorder) and [audio_player](https://github.com/hui-z/audio_player).

For ease of maintenance, I've chosen to put them in once place since they meaninglessly affects sizes of the app. I still can't find a specific reason why they should be separated. It is even better to handle both threads in such s

[2020-04-17 05:07] hyochan commented on #294
@bsutton Do you have any proposal to start this? I need to have research on starting this. I am not that familiar with making tests in `flutter` since I've not done much.

[2020-04-17 05:08] hyochan commented on #299
I think number 2 can be possible but 1 it is on their side.

[2020-04-17 05:31] vernalclareai commented on #285
okay, I see.
Another issue:
When can this framework support for all codecs?

For example: OGG/Vorbis

[2020-04-17 06:20] bsutton commented on #294
I've not done any 'flutter' unit tests per say but have written a large no.
of dart unit tests.

The difference being that flutter unit testing is about creating and
testing widgets.

I would suggest that we start with dart unit tests (the example code can
wait).

All unit test must go in a directory called test.
All unit tests must end in _test.dart.
I will push a few example ones to the 4.0 bran

[2020-04-17 06:24] hyochan commented on #294
Sounds great!

[2020-04-17 08:21] howiesommerfeld opened #300 "Crash when adjusting volume while playing on Android device"
### Version of flutter_sound
3.1.6

## flutter doctor
[✓] Flutter (Channel stable, v1.12.13+hotfix.9, on Mac OS X 10.15.4 19E287, locale en-US)

[!] Android toolchain - develop for Android devices (Android SDK version 30.0.0-rc2)
    ! Some Android licenses not accepted.  To resolve this, run: flutter doctor --android-licenses
[✓] Xcode - develop for iOS and macOS (Xcode 11.4.1)
[✓] Android Studio

[2020-04-17 08:42] Larpoux commented on #288
Yes, it is very good to pass a file instead of a buffer.
I agree that we should put the logic in Dart when possible.
And maybe more efficient not transmit a large buffer to the native code.
I did the convert in the native side, because I hoped to find a way to play the buffer directly without putting the data into a file (like it is done on iOS).
But we will change the Dart code if one day we can

[2020-04-17 08:48] Larpoux commented on #288
No, it is not an album. It is really a track.

'skip forward' and 'skip backward' are callbacks which are called when the user hit the buttons on the lock screen. Then the App can do what it wants, probably play another track.

[2020-04-17 08:51] bsutton commented on #288
Ok that makes sense .
I will update the doco

On Fri, 17 Apr 2020, 6:48 pm Larpoux, <notifications@github.com> wrote:

[2020-04-17 08:53] Larpoux commented on #288
I worked very much to separate TrackPlayer and FlutterSoundPlayer.
TrackPlayer.
TrackPlayer is a subclass of FlutterSoundPlayer but those two mudules does not use the same OS audio tools.

I am not sure that it would be good to recombine the tow modules.
Please tell me what are your position.

[2020-04-17 09:15] Larpoux commented on #291
Yes, Hyo
I totally agree with you. Flutter Sound Lite must support everything same than Flutter Sound Full, except that it will not have mobile_ffmpeg embedded.
`flauto` feature does not depend onf `ffmpeg`.

I am going to implement this new plugin, now.
(if I have some time left by the 3.1.x maintenance. Actually, 3.1.x request much of my time. This is too much for my taste).

When I will have fi

[2020-04-17 09:22] Larpoux commented on #299
1. On android, we can have a callback from the OS, when another App wants to acquire the audio-focus, so that we can specify what to do. This will need a change in our API.
But not sure that it will be possible on iOS.

2. Look to the new API verbs in 3.1.x :
- androidAudioFocusRequest()
- and setActive()
and tell us if this correctly answer your needs.

[2020-04-17 09:28] Larpoux commented on #285
OGG/Vorbis is in the pipe-line, somewhere.
Personally, I consider th OGG/Vorbis almost as important than OGG/OPUS
But this pipe-line is completely full and I worry that it will explode soon ;-)

[2020-04-17 09:32] Larpoux commented on #300
Please, try the last version of flutter_sound : 3.1.10.

We are currently working on this bug it it is possibly fixed in 3.1.10.
Please check and tell us if OK.

[2020-04-17 10:19] bsutton commented on #288
From a user perspective the underlying implementation is a detail they
shouldn't have to worry about.

Even working on the example having the two classes made it a pain to work
with.

I've reworked the example and the code is cleaner because of the single
class.

On Fri, 17 Apr 2020, 6:53 pm Larpoux, <notifications@github.com> wrote:

[2020-04-17 10:48] howiesommerfeld commented on #300
Just upgraded to 3.1.10 and the bug is still present. This time (using same test device as above), it crashed before changing volume, on its own after 2 or 3 seconds of playback.

[2020-04-17 11:35] Larpoux commented on #300
We need your new logs (after upgrading to 3.1.10)

[2020-04-17 12:04] howiesommerfeld commented on #300
Fatal Exception: java.lang.RuntimeException: Unable to create service com.dooboolab.fluttersound.BackgroundAudioService: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Class java.lang.Object.getClass()' on a null object reference
       at android.app.ActivityThread.handleCreateService(ActivityThread.java:2801)
       at android.app.ActivityThread.access$1800(ActivityT

[2020-04-17 12:06] Larpoux commented on #300
Are you really sure to use 3.1.10 ?
Did you do a `flutter pub get` ?
can you post the result of `flutter pub deps` ?

[2020-04-17 12:54] howiesommerfeld commented on #300
Sure, see results below:

flutter pub deps
Dart SDK 2.7.2
Flutter SDK 1.12.13+hotfix.9
bite_casts 1.0.1+1
|-- cloud_firestore 0.13.4
|   |-- cloud_firestore_platform_interface 1.1.0
|   |   |-- collection...
|   |   |-- firebase_core...
|   |   |-- flutter...
|   |   |-- meta...
|   |   '-- plugin_platform_interface 1.0.2
|   |       '-- meta...
|   |-- cloud_firestore_web 0.1.1
|   |   |-- cloud_

[2020-04-17 13:01] Larpoux commented on #300
It seems that the Album Art that you passed as argument to ```startTrackPlayer()``` is incorrect, and does not point to a small image.

[2020-04-17 13:46] bsutton commented on #288
I had some other thoughts about the api and some possible changes.

Currently we premote re-use of a SoundPlayer/SoundRecorder instance.

I'm wondering if its worth considering moving to a single use scenario.

So current we have:

[code]

What if we moved to:
[code]
I'm also wondering about the need for the Track class and the `startPlayerFromTrack' method.

The Track class seems to essentially b

[2020-04-17 14:14] Larpoux commented on #288
👎  . I think important to keep a concept of session. Specially if the user wants to control its audio-focus. And there is no really benefits to do everything in startPlayer().
I think also that `initialize()` and `release()` are a good way to start an audio session and terminate it.
Now, flutter_sound can handle several audio-sessions simultaneously. This has been request by some developers.

Pers

[2020-04-17 14:15] vernalclareai commented on #285
okay, I see.

I have a quick question.
/full & /audio-lts has some different modules?
because I have big problem on ios when switched to the /audio-lts to publish.
Ios was playing ogg.opus file with /full module, but not with /audio-lts.

[2020-04-17 14:24] Larpoux commented on #285
Flutter Sound can play OGG/OPUS with the audio-lts module .
You can look to [flutter_ffmpeg documentation](https://pub.dev/packages/flutter_ffmpeg) .
`audio-lts` is fine if you do not deal with video.

You can also look to [our README doc](https://github.com/dooboolab/flutter_sound) to know what is supported by flutter_sound, using the `audio-lts` module.
I can play OGG/OPUS, both on Android and i

[2020-04-17 14:34] vernalclareai commented on #285
Sounds good.
May I use the full-gpl module also for ffmpeg to publish?
because I have a build issue with full module.

[2020-04-17 14:42] Larpoux commented on #285
I do not know if anybody already published something using audio-lts.
Probably yes. What kind of problems ?

You could also have a look to version : [flutter_sound: ^4.0.0-beta.2](https://github.com/dooboolab/flutter_sound/tree/4.0.0-beta)

In this beta version, `mobile_ffmpeg` is directely linked with `mobile_ffmpeg`.
The App do not have anymore to make a dependency to `flutter_ffmpeg` .
- You wi

[2020-04-17 14:47] vernalclareai commented on #285
4.0.0-beta.2 will not removed later?
So I will not have big problem for the app published later.
Thanks.

[2020-04-17 15:01] Larpoux commented on #285
Actually, our plan is to publish the actual Beta version as `Flutter Sound V3.2.0` very soon.
Unfortunately, this version has not been very much tested by the developers.
But personally, I want to publish it in a matter of a few weeks.

[2020-04-17 15:01] vernalclareai commented on #285
Just installed the beta version
I will test and let you know.

[2020-04-17 15:03] Larpoux commented on #285
That's great. Thank you very much to help us to validate this version.

[2020-04-17 15:29] vernalclareai commented on #285
I have build issue with beta version on ios.

https://whatsapp-inbox-server.clare.a/data/audios/d038130c-60ff-49f4-bc62-0673871e7816.oga

Can you please play on your side for 3.1.10 with audio-lts module?
I am getting playing error for 3.1.10.
Thanks.

[2020-04-17 15:30] vernalclareai commented on #285
but with full module, it can be played.

[2020-04-17 15:32] vernalclareai commented on #285
Android is playing the file with audio-lts, but not ios.

[2020-04-17 15:33] vernalclareai commented on #285
I am using Codec_OPUS.

[2020-04-17 15:35] Larpoux commented on #285
Android is able to play OGG/OPUS natively without FFmpeg.
We use FFmpeg to play OGG/OPUS on ios.

So there is probably something wrong when linking to flutter_ffmpeg.

What does `flutter pub deps` show ?

[2020-04-17 15:36] vernalclareai commented on #285
3.1.10

[2020-04-17 15:55] Larpoux commented on #285
No, the complete result from flutter pub deps : did you verified the link-edit with flutter_ffmpeg ?

[2020-04-17 15:59] vernalclareai commented on #285
system('rm -rf .symlinks')
      system('mkdir -p .symlinks/plugins')
      plugin_pods = parse_KV_file('../.flutter-plugins')
      plugin_pods.each do |name, path|
        symlink = File.join('.symlinks', 'plugins', name)
        File.symlink(path, symlink)
        if name == 'flutter_ffmpeg'
            pod name+'/audio-lts', :path => File.join(symlink, 'ios')
        else
            pod name,

[2020-04-17 16:06] Larpoux commented on #285
That seems correct.
I have no idea what is the problem.
I guess that there not many people who tried to publish and verified that OGG/OPUS works correctly. Most people wants MP3 !!! But personally I really need that it will work when I will have finished my own App (later this summer).

I suggest that you try 4.0.0-beta.2 . But I understand that your App is going to be released very soon and is no

[2020-04-17 16:18] vernalclareai commented on #285
I will use /full-gpl module with 3.1.10 for now.
It is working well for OGG/OPUS.
Thanks.

[2020-04-17 16:39] Larpoux commented on #291
OK, guys and girls,

I did some measurements :

1. When we build the example(demo) app with the actual full flavor of flutter_sound (with ffmpeg embedded) :
- iOS -> 15 mega-octets
- Android apk -> 58 mega-octets

2. When I link with the future lite flavor of flutter_sound (without ffmpeg)
- iOS : 239 kilo-octets
- Android apk : 18 mega-octets

[2020-04-17 16:59] Larpoux commented on #290
Hi @salvatore373 ,

Did you talk with Hyo about your PR ?

If you have a fix to suggest for our bug on Android when the Album Art is displayed it would be really great.

[2020-04-17 17:15] salvatore373 commented on #290
I will make a new PR to flutter_code to implement all the changes I made in my fork. It will take some time because I have to adapt it to the new version of the code.

[2020-04-17 17:17] Larpoux commented on #290
Thank you, Salvatore.

Your PR will be very good for our beta or dev version of flutter_sound.
But actually we have a bug on the released version(3.1.10), and we really need a patch to fix that.

[2020-04-17 17:21] Larpoux commented on #290
Actually we maintain three branches :
- A release branch (3.x.x)
- A beta branch (4.0.0)
- And a dev branch.

A complete PR is OK for the dev branch.
But on the release branch (master) we need a patch.

[2020-04-17 22:24] bsutton commented on #288
Can you explain what you mean by session?
The existing startPlayer method we still only play a single audio stream at a time so I'm a little confused what you mean we need to retain it to support sessions?

I would suggested that my method has a couple of advantages:

1) you can create a stream and start/stop it multiple times.

With the current system if you want to restart the stream you have to

[2020-04-18 01:49] sgehrman commented on #296
@Larpoux I updated and didn't see it crash.  I'll let you know if it crashes again, it might have been random.

[2020-04-18 07:40] chenft commented on #299
@Larpoux
Use androidAudioFocusRequest is useful only when I play other audio first, then play audio on my app.
And then, I play other audio again, will play two sounds.

Can you handler this like audio_service plugins? [https://pub.dev/packages/audio_service](url).It handler this feature by it's plugins,user don't need to handler this.

My app needs to use background playback and recording, so I u

[2020-04-18 08:40] Larpoux commented on #299
This is really bad 👎  .
Could you post your logs ?

[2020-04-18 09:37] chenft commented on #299
@Larpoux
No logs.
IOS not crash. Just can't finish initialized. Because invoedMethod('initializeMediaPlayer') don't finshed. So I can't do something after initialize().

[2020-04-18 09:38] Larpoux commented on #299
We really need your logs.

[2020-04-18 21:21] bsutton opened #303 "Change plugins to pass time in miliseconds"
The plugins TrackPlayer and SoundPlayer send and receive position and duration values between java/swift and dart.

These fields are json encoded and typically have an arg name such as 'sec' with a type of double.
The java code then will copy this into a variable called millis.
e.g. TrackPlayer.java line 437.

We need to rationalise these calls as they are a maintenance headache.

I would suggest

[2020-04-18 22:53] bsutton opened #304 "Android hot reload cause crash"
The TrackPlayerPlugin and the FlautoPlayerPlugin share a common slot array.

If you do a hot reload the array is not cleared out.
The result is that when you restart the slots are not reset and you can get a class cast exception (as a given slot could contain a Track or a Fluato) plugin.

Whilst this is not a problem for running code it will cause problems and confusing during development.
We have

[2020-04-18 23:51] srihariash999 opened #306 "About TrackPlayer working, how does it start playing?"
### Version of flutter_sound
   3.1.10

I am using trackplayer and  I await it to start and it takes too long to load larger remote music files. So, I had a question. Does it start playing after the whole track is loaded? Or can I start playing it after some part is loaded?
After reading the docs, I found a trackplayer with buffer but it seems to be playing local files. Can I do this with remote f

[2020-04-19 00:14] bsutton opened #307 "Possible race condition: NullPointerException: Attempt to invoke virtual MediaControllerCompat"
I'm unable to reproduce the problem but lodging this incase it reoccurs and we have some additional information.

I produced this originally by:
Start example
Played MP3 Asset twice
Enabled Show on OS UI
Played MP3 asset twice

The following error was thrown:
[code]

Looking at the code the MediaControllerCompat is initialised by a onConnect callback.
I'm think that we tried to play media before t

[2020-04-19 00:15] bsutton commented on #306
I believe that it loads the whole file.

[2020-04-19 00:26] srihariash999 commented on #306
Any workaround to make the playback in case of large files faster?

[2020-04-19 00:35] bsutton commented on #307
I've had this occur again. Seems to only occur when I select Use OS Media Player.

[2020-04-19 01:18] Heatwave114 opened #308 "How to record with flac format"
Hi is it possible to tweak flutter_sound to record with flac encoder ?

[2020-04-19 09:12] lstimac opened #309 "Multiple independent TrackPlayer instances playing simultaneously not possible?"
Are there any plans for enabling multiple audio playbacks at the same time? 😁 Currently, there can be only one active instance of TrackPlayer, meaning it is not really possible to do cross fade transitions and similiar. And setVolume method for one instance affects all instances, which makes it impossible to control multiple players independently.

From what I have researched, multiple independent

[2020-04-19 09:16] tuanbs opened #310 "iOS restart causes crash"
### Version of flutter_sound
3.1.10

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
Restart the app when pressing the restart button in VS Code.

### Actual behavior
App crashed.

### Tested environment (Emulator? Real Device?)
Real Device

### Steps to reproduce the behavior
- Run the app.
- Press restart button in VS Code.
- App crashed.
<img width="301" a

[2020-04-19 09:51] Larpoux commented on #303
What kind of problems with maintenance ?

[2020-04-19 09:58] Larpoux commented on #304
My plan was to use the same slot array, even with `RecordPlayer`.
Classes `RecordPlayer`, `TrackPlayer`, and `FlutterSoundPlayer` would inherit from a common base class which will do the **mux** on its flutter channel. No duplicated code anymore.

But if this is a problem with hot reload we can reconsider that.

[2020-04-19 10:03] Larpoux commented on #306
Yes, I know that this delay is substantial.

Actually, I do not see any workaround in 3.x.x
Maybe in the future Flutter Sound could play from a stream provided by the App ?
But there is no plan, today, to doing that in 4.x.x

[2020-04-19 10:08] Larpoux commented on #307
Great !  Personally I was almost sure that the problem was caused by  the `onConnect` callback not finished when the App starts its playback.

I put a patch to avoid the crash in 3.x.x, but this should be cleaned in a better way.

[2020-04-19 10:23] Larpoux commented on #308
We plan to support many other codecs for the FlutterSoundRecorder in future versions.
But still not done

[2020-04-19 10:28] Larpoux commented on #309
I must look to that deeper.
I was thinking that you can create several instances of `TrackPlayer` simultaneously.
But I have not really carefully checked that it is compatible Android MediaPlayer.

Please, keep this issue Open

[2020-04-19 10:30] Larpoux commented on #310
Maybe tied with #307

[2020-04-19 11:36] bsutton commented on #303
I've had multiple problems getting the code to work as it wasn't obvious
what these fields contained.
Everytime someone looks at this code they will have the same questions.
Rationalising the names and type so its consistent will make life easier.

I always ask myself if some else was browsing the code then would it be
obvious how it works.
On this one, the answer would be no.

On Sun, 19 Apr 2020

[2020-04-19 11:39] bsutton commented on #304
I think there is perhaps an argument for a single plugin which then routes
calls to the appropriate class.

At the very least I think we should combine the trackplayer and soundplayer
into a single plug.
I can't see any obvious reason why these are separate (unless there is some
aspect I've missed).
Tracker already extends soundplayer.  A singular class would make the
plugin easier to work with.

[2020-04-19 11:39] bsutton commented on #306
Does android/ios support playing from a stream?

On Sun, 19 Apr 2020 at 20:03, Larpoux <notifications@github.com> wrote:

[2020-04-19 11:40] bsutton commented on #307
do you think the onConnect is failing or are we simply not waiting for it
to complete?

On Sun, 19 Apr 2020 at 20:08, Larpoux <notifications@github.com> wrote:

[2020-04-19 11:43] Larpoux commented on #307
Not sure. When running on debugger the problem does not occur.
Not really easy to debug.

[2020-04-19 11:53] bsutton commented on #307
I would suggest that we need to modify the code to stop the race condition.
I can't see what triggers the onConnect but it looks to me like there is no code in place to force startPlayerFromTrack to wait for the onConnect.

We need to put some sort of lock in place to for startPlayerFromTrack to wait.
I'm not certain what locking mechanisms are available on android?
In server side java I would nor

[2020-04-19 12:16] Larpoux commented on #291
hi, guys and girls,

Could you try `flutter_sound_lite 4.0.0-beta.3` and tell us if this is OK for you ?

Re-open this issue if you think that this point is not correctly handled by this new Flutter Plugin.

[2020-04-19 12:16] #291 closed

[2020-04-19 12:18] Larpoux commented on #195
Please re-open this issue if this point is still relevant in recent Flutter Sound version.

[2020-04-19 12:18] #195 closed

[2020-04-19 12:22] Larpoux commented on #255
Do not hesitate to re-open this issue if you think it is not correctly handled by flutter_sound.
(Perhaps it is a problem with the Android parameters on your phone).

[2020-04-19 12:24] Larpoux commented on #260
Please, re-open this issue if you still have crashes with Flutter Sound 3.1.10

[2020-04-19 12:24] #260 closed

[2020-04-19 12:25] Larpoux commented on #278
Is this issue still open on 3.x.x ?

[2020-04-19 12:28] Larpoux commented on #285
That think this is the good solution for you.
Re-open this issue if the problem still occurs when we will switch to 4.0.0

[2020-04-19 12:28] #285 closed

[2020-04-19 12:29] Larpoux commented on #289
Please, re-open this issue if this point is not correctly handled by Flutter Sound

[2020-04-19 12:29] #289 closed

[2020-04-19 12:30] Larpoux commented on #296
Please, re-open this issue if this problem occurs again

[2020-04-19 12:30] #296 closed

[2020-04-19 12:35] Larpoux commented on #309
Do you use a recent Flutter Sound version ?
This point is supposed to be fixed since 3.1.0.

[2020-04-19 12:52] lstimac commented on #309
Yes, I use version 3.1.8. But noticed when i start a second player, first one becomes silent haha I'm just asking because I need them both running and audible, so I can control their volume independently and do various seamless transitions based on that :)

[2020-04-19 12:55] Larpoux commented on #309
Perhaps you could look to the `#### iosSetCategory(), androidAudioFocusRequest() and setActive() - (optional)` section in the README.

Maybe you can play your two playbacks with correct parameters to those functions.

Please give us feed backs with your tries.

[2020-04-19 13:01] Larpoux commented on #309
Of course you must use two different instances of SoundPlayer or TrackPlayer
for your two playbacks. This cannot work if you start your two players in the same module instance.

[2020-04-19 13:17] bsutton commented on #278
I've not back ported the fix as I've been concentrating of the 4.0 release.
The latest PR has the fix for 4.0.

[2020-04-19 13:18] lstimac commented on #309
I use two different instances, however one always overrides the other, I have not been able to make them both play simultaneously at different volume levels. SetVolume method affects Media volume on a system level, instead of just modifying volume of a specific instance of Media Player created with flutter_sound :)

I will look at focus section of package docs, and will try disabling volume change

[2020-04-19 18:16] Larpoux commented on #290
Hi, @salvatore373 ,

Do you have any (good) news about a fix for this bug ?
Some users are actually waiting for a fix.

[2020-04-19 18:26] Larpoux commented on #304
I have not looked to this Hot-Reload very seriously, but my thinking is that your actual proposition on the `dev` branch is correct :

Have the three "plugins" inherited from a base class which manage the sessions slots.
For me this is clean code.

[2020-04-20 02:54] Dorbmon commented on #291
Thank you.You saved me haha.

[2020-04-20 14:15] Dorbmon opened #313 "How to get the duration of audio in flutter_sound_lite?"
I found that We dont use ffmpeg in lite version.How can I get the duration of the audio? Thanks.

[2020-04-20 14:17] Larpoux commented on #313
flutter_sound FULL flavor uses FFmpeg to get the audio duration.
This is not possible in the LITE flavor.

[2020-04-20 14:18] Dorbmon commented on #313
It is a sad message...ffmpeg is too big for me.

[2020-04-20 14:20] Larpoux commented on #313
You can't have your cake and eat too :-D

[2020-04-20 14:22] Dorbmon commented on #313
:( sad time.

[2020-04-20 14:22] #313 closed

[2020-04-20 20:17] srihariash999 opened #314 "How to track if player is paused from notification shade?"
### Version of flutter_sound
  3.1.0
## flutter doctor

### Platforms you faced the error (IOS or Android or both?)
     android

I can't figure out how to change the state of my UI if the playback is paused from the lockscreen or the notification shade. Is there any callback when these buttons are pressed? I can't find them in the docs.

I subscribed to the onPlayerStateChanged subscription, it i

[2020-04-20 20:29] Larpoux commented on #314
Oh ! 👎
It seems that the parameter `whenPaused,:` is missing in the documentation.
This documentation really must be improved.

When the App does not specify this parameter, then Flutter Sound just pause the playback.
But if the App specify a call back, then Flutter Sound will trigger the callback and will not pause itself.
[code]
Please keep this issue open, so that someone will fix the documenta

[2020-04-20 22:37] bsutton commented on #288
So I was looking into @Larpoux  comments on the need for a session now that I understand what a session about.
So I've now made a class called AudioSession.
You now have the ability to pass an AudioSession into a player and the player attaches to that session.
The Album now has an AudioSession but you can use an audio session without an album.
I think this creates a balance between the requirement

[2020-04-21 06:29] Larpoux commented on #288
Too complicated. 👎
Your branch is more and more complicated.
Flutter Sound must be light and simple, for the user and for the maintenance.

I do not approve your proposition.

[2020-04-21 06:53] bsutton commented on #288
Let's wait until I'm finished with it and the review where things stand.

Code should be as simple as possible but no simpler :)

On Tue, 21 Apr 2020 at 16:29, Larpoux <notifications@github.com> wrote:

[2020-04-21 15:02] srihariash999 commented on #314
I tried doing this,:

`whenPaused: (){
 print("something");}`

But I got an error saying:

So i changed the code to :

[code]

Still, when I press the pause button from the notification screen, nothing prints. Also, strangely, the something gets printed once, when the player is stopped initially and starts to play. Am I doing something wrong?

[2020-04-21 19:45] lstimac commented on #309
I tried various things with focus and running different instances but to no avail. I will probably need to play around with Android ExoPlayer to achieve multiple audio sources at the same time :)

[2020-04-21 21:20] claptimes5 opened #315 "flutter_ffmpeg needs NSCameraUsageDescription delclaration in info.plist on iOS"
### 3.1.8

## flutter doctor
[code]
### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior
Publish app on app store without needing `NSCameraUsageDescription`

### Actual behavior
When I go to publish my app, my build is rejected by Apple because it doesn't have the `NSCameraUsageDescription` purpose string in my info.plist.

`ITMS-90683: Missing Purpose String in I

[2020-04-21 22:42] bsutton commented on #288
So gentlemen I think I've been guilty of hubris, so for that I apologise.
My wife tells me its one of my less endearing qualities.

After having a chance to sit back and review the api I realise that my AudioSession is essentially a merge  of the TrackPlayer and SoundPlayer apis.

As such calling it AudioSessions had more to do with my fixation on sessions (once I rather belatedly discovered that

[2020-04-22 07:58] Larpoux commented on #309
Thank you to have investigate this.
We will try to fix that in a future version. I think that this issue is important.
Please keep this issue open.

[2020-04-22 08:02] Larpoux commented on #314
@srihariash999 ,
I am sorry that you lost time on this issue.
I looked to Flutter Sound and it seems that `onPaused:` is not completely implemented in Flutter Sound. This is probably the reason that this parameter was not documented.
I consider this issue as a serious bug that we must fix.
I am going to work and will publish a fix in Version 3.1.11 (probably in a few days).

Again, sorry that you

[2020-04-22 08:07] howiesommerfeld commented on #300
Thanks for the feedback and immediate responsiveness when dealing with this issue. I've made use of a smaller file for the album art and am no longer receiving the crash.

[2020-04-22 08:07] #300 closed

[2020-04-22 08:09] Larpoux commented on #300
You are welcome.
Do not hesitate to come back if you have others issues.

[2020-04-22 08:32] Larpoux commented on #315
Yes, I am having the same problem with my own APP.

I had to add in my `info.plist` :
[code]

Perhaps this issue does not occur on `flutter_sound: 4.0.0-beta.4` but I have not yet tested with this new version.

[2020-04-22 08:38] Larpoux commented on #288
Great 👍
Perhaps that we will finish to agree together with 4.0.0. 😄
(for a few days, I have worried that `dev` was definitely not what I would like Flutter Sound to be).
Thank you for your work.

[2020-04-22 09:25] srihariash999 commented on #314
Its alright. Thank you for your fast response. Waiting for the release 🙌

[2020-04-22 18:41] Larpoux commented on #315
Thank your @claptimes5 to share your experience with 4.0.0. 👍
We must check, now  with 4.0.0 FULL.

[2020-04-22 22:11] Sander876 opened #317 "Production NullPointerException with 3.1.10"
### Version of flutter_sound
3.1.10

## flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel beta, v1.14.6, on Microsoft Windows [Version 10.0.18363.778], locale en-US)
[√] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[√] Android Studio (version 3.6)
[√] VS Code (version 1.44.2)
[√] Connected device (1 available)
• No issue

[2020-04-23 03:55] Larpoux commented on #317
This is bad 👎 . Really bad 👎
We are currently fighting with this bug for one or two weeks
Are you sure to use 3.1.10 ? (I added a patch 3.1.10 to avoid the crash)

[2020-04-23 05:49] bsutton commented on #314
I do have a fix for this in the 5.0 release.

[2020-04-23 05:52] bsutton opened #318 "OSs Media play does not close when mediaBrowserHelper released."
I'm testing the example app with the new 5.0 build of flutter and I've noticed that when I play media via the OSs' own media player that the player doesn't close after release is called on android.

I see the call to:
mMediaBrowserHelper.releaseMediaBrowser();

in TrackPlayer

but it doesn't close the player.

There also appears to be no way via the OSs media player to close the player.

I'm guess

[2020-04-23 06:13] Larpoux commented on #303
The universal international System units (SI) is called :
MKSA for Meters/Seconds/Kilograms/Amperes.
My own preference is to follow those units when we have choice.

[2020-04-23 07:02] bsutton commented on #303
I really don't think si units is applicable in this situation.

Using a double is always undesirable if an int can be used.

Doubles are slower and less precise than ints introducing finding errors.

The basic rule of programming is always use an int over a double.

Having said that it's not critical in this instance but it makes the code
ugly. The real issue is inconsistent naming conventions.

W

[2020-04-23 10:07] Sander876 commented on #317
Unfortunately yes, I went from version 1.5.2 to version 3.1.8 which caused the error to show up. Immediately after that release I've updated to 3.1.10 in the hope the exception would disappear but unfortunately it shows up a lot in the error logs. I double checked the flutter sound version and the production release version which has flutter sound 3.1.10.
Any idea what's causing it?

[2020-04-23 11:00] Larpoux commented on #317
I am going to look to this issue which is really serious.
My actual idea is that flutter_sound module is not yet completely initialized when the App try to start a player.
Either the App does not call initialize(), or it calls initialize() without waiting the Future to be completed. (If initialize() does not return a future, this is bad).
I will look to this issue soon. Probably in a few days. In

[2020-04-23 12:15] Sander876 commented on #317
The flutter_sound module is used as an input method for the app. A user can select to give audio input which will popup the flutter sound module and only calls initialize at that moment. It also allows the user to immediately start recording, maybe I can add a timer between the initialize and start of the recording to give it time to initialize. I'll try to add it to the app however I will only ha

[2020-04-23 12:18] Larpoux commented on #317
Looking to your logs, it seems that the crash occurs during playback (startPlayerFromTrack())
not during recording.

[2020-04-23 17:59] srihariash999 commented on #314
@bsutton  where can I find the 5.0 release? I don't see it in pub.dev release page, even in beta versions. Also, I'm not sure that everything else will work fine if I change the whole package to another version, perhaps my safest bet is to wait for @Larpoux  to release a version with a fix for this bug.

[2020-04-23 18:52] Larpoux commented on #314
Maintenance of released version is a priority : Dev, is always only after maintenance.
@bsutton : you should suggest a patch for 3.x . Or better on 4.0.
Il will release 4.0 tomorrow or Saturday, and I really would like that this issue will be fixed then.
Version 5.0 is not actuality.

Note : I would like also that the crash in TrackPlayer when the module is not completely initialized be fixed in t

[2020-04-23 21:11] bsutton commented on #314
It hasn't been pushed as yet. Hopefully will get pushed to pub Dev on the
next few days

On Fri, 24 Apr 2020, 4:00 am Srihari Ayapilla, <notifications@github.com>
wrote:

[2020-04-23 21:13] bsutton commented on #314
The patch would be non trivial as it was part of the reachitecture.

I will have a look to see what is possible but I'm not optimistic.

On Fri, 24 Apr 2020, 4:52 am Larpoux, <notifications@github.com> wrote:

[2020-04-23 21:33] Sander876 commented on #317
Ah, didn't notice, thanks. After the recording the user can press play to check the recording, apparently something goes wrong in that process.

[2020-04-24 01:25] chi-tea-72 opened #319 "Can you still record audio while app is in background, or while the phone is locked?"
In your v3 release I see you support playback on the lock screen and in the notifications drawer which is awesome! I'm wondering if you also support recording audio while the app is either in background or when the device is locked?

I'm trying to build a simple voice recorder application. I want users to be able to close the app or lock their phone if they wish, but still continue recording, and

[2020-04-24 02:05] bsutton opened #320 "Resource leakaged when using OS MediaPlayer"
I'm testing 5.0 and have been experimenting with playing overlapping audio via the OS MediaPlayer UI (i.e. the old TrackPlayer code).

Essentially the problem is that if I start playing a track and then start a second track, before the first one completes, then the first track no longer receives events (finished, stopped).

So should the api allow a user to start a second track (using the OS Media

[2020-04-24 06:59] Larpoux commented on #320
I think that we must stop the previous playback. If the App want to play 2 playbacks at the same time, it must open two audio sessions.

Yes, I was thinking to add this to flutter_sound.
I am not sure that it is possible to support that on iOS

[2020-04-24 07:04] Larpoux commented on #319
Yes, Flutter Sound can continue to record, event if it goes background or when the screen is off. I tried that and it works fine.

[2020-04-24 07:24] bsutton commented on #320
I'm specifically talking about when you are using the OSs shade UI.
Given there is only one shade UI available you can't have more than one audio file playing on the shade UI (I refer to this as the OSs UI).
When you use SoundPlayer.withUI()  it displays the OSs UI. This is the same as using the old TrackPlayer.
If you create a second instance of SoundPlayer.withUI then what should happen given th

[2020-04-24 16:27] Larpoux commented on #317
I looked to your issue, but I do not know what to do.
The bug you have is not #296, (as I thought) and I have no clue to understand your crashes. I will need more logs, but I understand that you are in production, and not easy to have logs.

[2020-04-24 16:36] Larpoux commented on #314
OK, flutter_sound V4.0.0 has been just released.
There is a new parameter to `startPlayerFromTrack()` : `whenPaused:`.
Please refer to the README to have informations on this parameter.

Please, re-open this issue if this is not a correc answer to your needs.

[2020-04-24 16:36] #314 closed

[2020-04-24 16:39] Larpoux commented on #290
Hi @chenft .
The Flutter Sound V4.0.0 has just been released.

This version fixes the bug which was that the remote Album Art was not correctly displayed on the lock screen.

Please re-open this issue if this does not correctly answer your problems

[2020-04-24 16:39] #290 closed

[2020-04-24 16:41] #288 closed

[2020-04-24 16:42] #303 closed

[2020-04-24 16:46] Larpoux commented on #295
This is a duplicate from #210 .
This feature is really missing for many developers !

[2020-04-24 16:48] Larpoux commented on #310
Duplicates #304

[2020-04-24 16:48] #310 closed

[2020-04-24 16:50] Larpoux commented on #319
Yes, I confirm that recording is possible when the App goes background.

Please re-open this issue if you think that flutter_sound does not fill your needs in this area.

[2020-04-24 16:50] #319 closed

[2020-04-24 19:37] srihariash999 commented on #314
Thank you very much @Larpoux. I tried it in the way shown in the docs and it works like a charm.

[2020-04-24 20:16] Larpoux commented on #314
**YEAH!!!!!** :
I like when things works fine. (Not very often unfortunately)
Thank you for your comment.
It makes be better. Maintenance is some time something very hard for self confidence.

[2020-04-24 21:01] chi-tea-72 commented on #319
Thanks for the fast response, really appreciate it :) I will check out the plugin further 👍

[2020-04-24 22:06] bsutton commented on #303
My reference was to the plugin api (the Java code) not the dart API.

The dart API should expose a standard duration object so the user can access it as it suites them.

[2020-04-24 22:25] bsutton commented on #317
There are a number of race conditions in the 3.0 code base so I'm not surprised to see this type of error.
In particular the code allows you take actions against a player before its fully initialised. This is an architectural issue with 3.0.
I've re-architectures how the dart code interacts with the java code in the 5.0 release and resolved a whole class of these issues.

[2020-04-26 03:29] iyuhang opened #322 "CocoaPods could not find compatible versions for pod "flutter_sound_lite""
### Version of flutter_sound

flutter_sound_lite: ^4.0.0

## flutter doctor

[✓] Flutter (Channel stable, v1.12.13+hotfix.9, on Mac OS X 10.14.6 18G87, locale en-US)

### Platforms you faced the error (IOS or Android or both?)
iOS

### Expected behavior

### Actual behavior

platform :ios, '9.0'

Resolving dependencies of `Podfile`
    [!] CocoaPods could not find compatible versions for pod "flut

[2020-04-26 03:33] Larpoux commented on #322
The actual minimum version for Flutter Sound is 9.3.

[2020-04-26 03:41] iyuhang commented on #322
it works, thanks

[2020-04-26 03:41] #322 closed

[2020-04-26 08:22] iyuhang opened #323 "Cause crash when have plugin multi_image_picker imported"
### Version of flutter_sound

flutter_sound_lite: ^4.0.1

## flutter doctor
[code]

### Platforms you faced the error (IOS or Android or both?)

Only Android

### Expected behavior

### Actual behavior

Crashed

### Tested environment (Emulator? Real Device?)

### Steps to reproduce the behavior

1. import multi_image_picker: ^4.6.6+rc.1
2. import flutter_sound_lite: ^4.0.1
3. apply MultiImagePick

[2020-04-26 08:25] Larpoux commented on #323
At first seeing, the crash is not in Flutter Sound.

[2020-04-26 08:38] iyuhang commented on #323
maybe, but if remove flutter sound, that plugin runs well, how can I solve this

[2020-04-26 08:39] iyuhang commented on #323
I tried flutter_sound and flutter_sound_life, all failed

[2020-04-26 08:40] Larpoux commented on #323
You should investigate why this plugin crashes.

[2020-04-26 13:03] #323 closed

[2020-04-26 13:06] Larpoux commented on #306
The best you can do is to load the file yourself and give it to Flutter Sound each time you want to play it.

[2020-04-26 13:06] #306 closed

[2020-04-26 15:50] zhangruiyu opened #324 "There is a problem with onRecorderStateChanged on ios"
When I first record and play what I just recorded, and then I click on record again, onRecorderStateChanged has a 0 result all the way and cannot be recorded
'''
import 'dart:io';

import 'package:chongmeng/constants/constants.dart';
import 'package:chongmeng/utils/date_utils.dart';
import 'package:flutter/material.dart';
import 'package:flutter_sound/flutter_sound_player.dart';
import 'package:fl

[2020-04-26 16:38] Larpoux commented on #324
At first seeing your code seems correct.
Of course, do not try to hit your 'Play' or 'Record' buttons during a recording.

[2020-04-26 19:12] Sander876 commented on #317
I do am afraid I might have to disappoint a bit. I was able to push an update yesterday where version 4.0.1+1 has been implemented (just an hour or so after the release), changed the code to fully mimic the example and the crash reports are already starting to drip in for this new update (have only launched to a small percentage of users, not 100%).

java.lang.RuntimeException:
  at android.app.Ac

[2020-04-26 19:17] Larpoux commented on #317
This is bad news 👎
I am going to look to this bug tomorrow.
We are sorry that you get those problems 👎

[2020-04-26 19:52] Sander876 commented on #317
Don't worry, it's an amazing library. Thanks for all the work you guys have put into it 👍
I'll wait for a few days and otherwise return to 1.5.2 for a while, which is fine as well.

[2020-04-26 20:40] Larpoux commented on #317
I am going to sleep, now. I will work on that tomorrow.
In the mean time, could you check that you do not try to `startPlayerFromTrack()` on a FlutterSoundPlayer not completely initialized ?

You must be certain that your module is initialized before trying to play.
You must `await` :
[code]

[2020-04-26 22:37] bsutton commented on #324
I'm working on integrating a recording widget into 5.0. As part that I expect to have a 'controller' which can be used to co-ordinating our recording widgets state with a players state. The controller will not allow a player which is 'attached' to a recorder (via the controller) to playback whilst  recording is underway.

You can still have any number of other unattached players.

[2020-04-26 23:27] Sander876 commented on #317
Before every play the following is run:

await flutterSoundPlayer.initialize();
await flutterSoundPlayer.startPlayer(this.path);
await flutterSoundPlayer.setVolume(1.0);
_playerSubscription = flutterSoundPlayer.onPlayerStateChanged.listen ...

For stop:
await flutterSoundPlayer.stopPlayer();
_playerSubscription.cancel();

And on dispose:
flutterSoundPlayer.release();

Just noticed the setVolume is

[2020-04-26 23:47] bsutton commented on #317
I suspect that your problem is the fact that the 3.0 branch doesn't
correctly initialise the media player.
The 5.0 dev branch includes logic that ensures that the media player is
fully initialised.
In testing with 3.0 about 1 in 4 times I can produce a crash due to the
initialisation problem.
I'm unable to reproduce any crashes in the 5.0 branch.

On Mon, 27 Apr 2020 at 09:27, Sander876 <notificat

[2020-04-27 00:06] bsutton opened #325 "Design an event model for app life cycle change and focus change."
One of the key problems with flutter sound is that it isn't a good citizen in that it doesn't play well (no pun intended) with other media players nor with app life cycle.

Particularly on android the mediaplayer is considered heavy weight as it locks down hardware acceleration for audio. If I've understood correctly then if we don't release the media player then other players won't get the benefi

[2020-04-27 00:08] bsutton opened #326 "Abstract iosSetCategory/androidAudioFocus"
We have a couple of OS specific api's exposed in the public api.

Ideally the public api should not expose any OS specific api calls but rather provide an abstracted set of calls.

I don't fully understand what iosSetCategory does so I'm not quite certain what needs to be changed.

@Larpoux can you provide any guidance on this?

[2020-04-27 00:17] Sander876 commented on #317
Interesting, I assume version 4.0.1+1 doesn't have the same logic yet as the 5.0 branch? Any rough estimation when the 5.0 branch goes to production?
Thanks!

[2020-04-27 02:07] zhangruiyu commented on #324
I should have misexpressed, the current method call order is as follows
1. _onStartRecord ()
2. _onStopRecord ()
3. _onStartPlay ()
4. _onStartRecord ()
5. _onStopRecord(), onRecorderStateChanged returns 0 all the way through the second recording, and the second recorded audio cannot be played

[2020-04-27 02:13] zhangruiyu commented on #324
I may not express it accurately. The current method call sequence is as follows
1._onStartRecord ()
2._onStopRecord ()
3._onStartPlay ()
4._onStartRecord ()
5._Onstoprecord(), onrecorderstatechanged will return 0 on the second recording and cannot play the second recorded audio

[2020-04-27 02:17] bsutton commented on #317
No 4.0 has the same problems as 3.x.

@Larpoux is currently reviewing the 5.0 code.

I'm hopeful we can get a beta out this week but it does have a fair no. of breaking changes.
Having said that I've converted one of my widgets and it only took me a few minutes.

[2020-04-27 04:59] bsutton commented on #325
@Larpoux
I think I have an api that now deals with this.

The main question I have left is how do I instruct the plugin to play in the background?

[2020-04-27 05:51] zhangruiyu commented on #324
The ios simulator is fine, but it's available on your phone

[2020-04-27 08:25] Larpoux commented on #317
I completely disagree with @bsbutton :
Maintenance and development are two different things.
It is totally irresponsible to suggest to use a dev version to a user having bugs in a released version.

Maintenance is done using patches, not new development.
This is the only way to have a product being more and more stable and bug free.
Of course, an eventual new V5.0.0 will have (at least) 10 times m

[2020-04-27 08:31] Larpoux commented on #317
@Sander876 : I am going to look to your bug.
But I do not think that returning back to 1.x.x is a good solution for you.
This very old version does not have the `TrackPlayer` feature.
So if you do not need this feature, I think better for you to use the `FlutterSoundPlayer` class in 4.0.0 instead of the class `TrackPlayer`.
You will have much less problem, because this class is much more simple.

[2020-04-27 08:58] tuanbs commented on #304
This issue still occurs on the latest version `4.0.1+1`.

[2020-04-27 09:30] bsutton commented on #317
My point was that I suspect that fixing this long existing issue may be
difficult in the 3.x build.

I was not suggesting that he adopt it for production hence my reference to
pushing 5.0 into beta.

Users with these sort of problems have a vested interest in trialing betas
which can help us get the code into production faster.

The fixes required for this bug probably can't be made without breaki

[2020-04-27 09:31] Larpoux commented on #326
Yes, I totally agree. In a future version we must find high level concept (for example Duck Others), and allow the app to specify what he wants to do with those concepts.

Actually, `StartRecorder()` has optional parameters for iOS and for Android. This is not good, because those parameters conflicts whith the 'Codec` parameter which is OS independent.

Unfortunately, some features are offered in

[2020-04-27 09:47] Larpoux commented on #324
I suspect that your problem is caused by trying to record during a playback.
Flutter Sound is supposed to handle that correctly, but this is something which has probably not been tested very intensively.

Please, keep this issue open. I will try to find time for looking to it.

[2020-04-27 09:54] Larpoux commented on #317
NO! Really NO!
This bug needs 3 things :
- Understand which java variable gives us a "Null Pointer Reference"
- Understand why this variable is NULL
- Protect the code so that it will not a crash.

A null pointer reference is a terrible thing. Flutter Sound must not fall into a such thing.
This must be fixed. If we cannot fix that, better to throw an exception than to crash.

[2020-04-27 10:00] bsutton commented on #317
I believe the issue is cause by a race condition in the initialisation
sequence.

In which case fixing this npe will just move the problem elsewhere.

On Mon, 27 Apr 2020, 7:54 pm Larpoux, <notifications@github.com> wrote:

[2020-04-27 10:06] Sander876 commented on #317
Thanks for the energy and commitment, really appreciate it. @Larpoux just a double check, I'm already using the FlutterSoundPlayer class, as shown in the example code I've posted, which is causing the nullpointer. Do you think it's worth it to change to the TrackPlayer class?

I do understand the argument in using beta code for production, it's not something I want to do. Though not sure what othe

[2020-04-27 10:12] Larpoux commented on #317
This is strange, because your crash occurs in the Java code doing a `StartPlayerFormTrack()`.
If you use `FlutterSoundPlayer` this function would not be available and you would not be able to compile.

**Certainly NOT**

[2020-04-27 10:15] zhangruiyu commented on #324
But I didn't do that. If you follow the above steps, the second recording does not succeed, but it only exists on the mobile phone

[2020-04-27 10:21] Larpoux commented on #317
@Sander876 :
Please double check your code to be sure that you do not instantiate `TrackPlayer`.
I am Puzzled because you crashes in `TrackPlayer` routines.

[2020-04-27 10:45] Sansuihe opened #328 "Add plug-in failed How to solve？"
Because flutter_sound >=3.1.6 depends on permission_handler ^5.0.0 and flutter_widget_one depends on permission_handler ^4.0.0, flutter_sound >=3.1.6 is forbidden.

pub get failed (1; So, because flutter_widget_one depends on flutter_sound 4.0.0, version solving failed.)

[2020-04-27 10:48] Larpoux commented on #328
Yes, Flutter Sound dependency on permission_handler gives us several problems.
This is not very good.
We must find a way to get rid of this dependency.

[2020-04-27 10:49] Larpoux commented on #328
More and more, I think that flutter_sound should not bother with permissions.
Permissions should be the App responsibility.

[2020-04-27 10:50] Sansuihe commented on #328
Are there any good ways to use your plug-in

[2020-04-27 10:51] Sansuihe commented on #328
Are there any good ways to use your plug-in

Are there any good ways to use your plug-in

Are there any good ways to use your plug-in？

[2020-04-27 10:53] Sander876 commented on #317
Did a double check, full search through all code and found no usage of TrackPlayer. Only widget which uses flutter sound functionality does the below. I've edited it for simplicity, I do keep track of states (recording, playing etc).

[code]

[code]

[code]

[code]

[code]

[code]

[code]

Maybe I'm making a mistake somewhere. This is the code which I use in combination with 4.0.1+1 which throws a

[2020-04-27 10:55] Larpoux commented on #317
Do you instantiate `Flauto`.
`Flauto` is obsolete and better not to use it.
`Flauto` instantiate `TrackPlayer` and that could be the problem.

[2020-04-27 10:56] Sander876 commented on #317
@Larpoux I was thinking the same thing when I searched through flutter_sound code for TrackPlayer. I do include Flauto in the widget I use but it is only used for 't_CODEC.CODEC_AAC'

[2020-04-27 11:01] Larpoux commented on #317
OK. This could be the BUG. 👍
Do you instantiate `Flauto` ?
(this is not necessary if you just want `t_CODEC`)

[2020-04-27 11:03] Sander876 commented on #317
'Unfortunately' not, I only include it as an import and use t_CODEC.CODEC_AAC. Double checked and did a full search for flauto, only found the import and that's all.

[2020-04-27 11:05] Larpoux commented on #317
OH! I see, now.
We instantiate ourself `Flauto`. This is very bad code 👎
I will fix that in the future version 4.0.2

In the mean time, you could remove your imports to Flauto, and try a copy and past of t_CODEC somewhere in your code.

[2020-04-27 11:08] Larpoux commented on #317
I will fix that this afternoon. So you can wait 4.0.2 without changing your current code.

[2020-04-27 11:17] Sander876 commented on #317
@Larpoux Great to hear!
However, when I look into Flauto I only find that FlutterSoundHelper will be instantiated. The deprecated class Flauto below it isn't instantiated as far as I can see and I can't find a reference to TrackPlayer from anywhere else. So I'm not sure it's happening because if this.

[2020-04-27 12:16] Larpoux commented on #317
Yes, you are right :-(

[2020-04-27 12:33] Larpoux commented on #317
@Sander876 : I built a special Flutter Sound version to trap the guy who does a TrackPlayer.initialize().

Could you try `flutter_sound: 4.0.0-debug.1` (probably not good to use it in production. Just for test)

[2020-04-27 12:46] Larpoux commented on #317
No @bsutton . You are completely wrong. Totally.
If we do not have enough resource to do dev + maintenance, better to abandon the dev.
A product which is not maintained is a dead product. And if the product is dead, you can forget your devs too.

Both Salvatore and you are only interested by dev. And when there is a problem in your code, Salvatore's answer is "I will Push a complete new Flauto cod

[2020-04-27 16:06] Sander876 commented on #317
@Larpoux I tried the 4.0.0-debug.1 on a couple of devices and the "TrackPlayer is supposed to be instinciated here." exception is never reached. So I think the exception doesn't have anything to do with TrackPlayer.
After digging a bit more, I think this might be causing the issue (android manifest):

[code]

It could cause the service to be started based on the mentioned actions, even if Backgrou

[2020-04-27 16:11] Larpoux commented on #317
I think you do not have the bug, because in my debug version, when someone try to instantiate or initialize a trackPlayer, I throw immediately an exception.
An exception is better than a NULL pointer reference in java, because it can be handled by upper routines instead of crash.
But this does not explain your bug. Probably you will have some "Exceptions traps" if you look to your logs. Is it poss

[2020-04-27 16:16] Larpoux commented on #317
Strange. I am completely sur that your crash are in the TrackPlayer initialization.
So you should have an exception now, when trying.
I do not understand.

[2020-04-27 16:20] Larpoux commented on #317
Those lines in the manifest are just for users using TrackPlayer.
You do not need them, and you can try without them.
If this is the reason of your crash, we will have to find how to be compatible with TrackPlayer.
But actually, we must just try to master the reason of your crashes.

[2020-04-27 16:24] Larpoux commented on #317
`TrackPlayer` is tough code. Difficult to maintain.
But this feature is really great for many developers, and there is no possibility to abandon it.
Too many developers want it.
We will really continue to support this function and debug it.

[2020-04-27 16:38] Sander876 commented on #317
@Larpoux I'm 90% sure that manifest code is causing it. If I look at the logs I'm getting in Dev Console it states a createService error and the following part:

Caused by: java.lang.NullPointerException:
at com.dooboolab.fluttersound.BackgroundAudioService.b (BackgroundAudioService.java:68)
at com.dooboolab.fluttersound.BackgroundAudioService.onCreate (BackgroundAudioService.java:6)

The backgrou

[2020-04-27 16:41] Larpoux commented on #317
You are great 🥇 👍 !!!
If you confirm that this is your bug, this is wonderful news.
I will find a way to fix that if this is the reason of your crashes.

Thank you for your help. You definitely helped us.

[2020-04-27 17:13] Larpoux commented on #317
When you have crash, you get the following lines :

`com.dooboolab.fluttersound.BackgroundAudioService` is a Flutter Sound Java module which is used for TrackPlayer.
I have difficulty to understand why you have this crash if nobody use `TrackPlayer`.
I am a little bit stubborn.

[2020-04-27 18:46] Sander876 commented on #317
@Larpoux Indeed it is the Android java module. Since the BackgroundAudioService is also specified with the before mentioned intent filter (inside the Android manifest) it will cause Android to 'run' the BackgroundAudioService when one of the actions is met.

So for example:
Someone presses a button on their headset->the action is android.intent.action.MEDIA_BUTTON->Android will send the action to

[2020-04-27 18:51] Larpoux commented on #317
OHHH !!!!! yes !!!!
I did not look to the Manifest carefully.
I did not see that there is a reference to our F***ing class.
I have no doubt, now that you find the bug.
This is 99% sure, now.

Thank you again for your help.

[2020-04-27 19:20] Larpoux commented on #317
Just for your information :

We already had problems in this class because the global variable `androidActivity` was null.
I really did not understood how it was possible, because I was sure that TrackPlayer was initialized.
So I add an `assert in `initMediaSession`  :
[code]
The problem you encountered during your App in production, is that `assert` code is not generated.

Actually, I think that

[2020-04-27 20:43] Sander876 commented on #317
I'm having my fingers crossed that the manifest is indeed the bug. I was just able to push the edited version to production and should be able to get some feedback in a few days on whether the bug still shows up. Thanks for the help!

[2020-04-27 21:34] chandlery54 commented on #326
I have wondered about these specific calls as well.

I am actually looking to turn off the Automatic Gain Control (AGC) so that I can measure specific dB readings and recognize loud noises. But the AGC settings are stopping me from getting accurate readings. Looking into doing this has pointed me to setting the iOS `AVAudioSession.Category` to `record` (or `playAndRecord`) and set the `AVAudioSess

[2020-04-27 21:58] Larpoux commented on #326
iosSetCategory() is a direct call to the iOS function.
Because I did not know very well what this iOS function was used for, I prefered to offer all the parameters to the App, without hiding any possibility.
You are now confirming that I was right.
And probably other verbs will be needed too.

Same for androidAudioFocus. But for this verb I am not completely sure that it is not possible to hide th

[2020-04-27 22:04] Larpoux commented on #326
I am not an audio specialist, and I do not master that. Perhaps someone else can answer to @chandlery54 ?

[2020-04-27 22:15] Larpoux commented on #326
@chandlery54 : I am just a simple developer. I develop many things that I do not master at all. Actually I am currently working on an App to learn Korean, but I do not know Korean, even just one word!
To develop, I just need specs from my *"customer"*.
If you give me specs, I will certainly try to fulfill  your needs with Flutter Sound.

(Specs = functional specifications)

[2020-04-28 11:50] Sansuihe opened #329 "Ios failed to add dependency"
CocoaPods' output:
↳
      Preparing

    Analyzing dependencies

    Inspecting targets to integrate
      Using `ARCHS` setting to build architectures of target `Pods-Runner`: (``)

    Finding Podfile changes
      A flutter_sound
      - Flutter
      - jpush_flutter
      - path_provider
      - path_provider_macos
      - permission_handler

    Fetching external sources
    -> Fetching pods

[2020-04-28 12:31] Larpoux commented on #329
I had recently such an error in my own App and I fixed it with adding those two lines in my Podfile :
[code]

Also I had to use ```flutter_sound: 4.0.1+1``` instead of ```flutter_sound: 4.0.0```

Tell us if you can fix your issue or not.

[2020-04-28 12:56] mehdok commented on #329
`Specs satisfying the `flutter_sound (from `.symlinks/plugins/flutter_sound/ios`)` dependency were found, but they required a higher minimum deployment target.`

Increase your iOS min version;

[2020-04-28 12:57] Larpoux commented on #329
The minimum iOS version is 9.3

[2020-04-28 13:02] Sansuihe commented on #329
Hello, I followed your steps once and still have problems.

# Uncomment this line to define a global platform for your project

platform :ios, '9.3'

use_frameworks!

use_modular_headers!

Automatically signing iOS for device deployment using specified development team in Xcode project: ZU6SQ65422
Running pod install...&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &n

[2020-04-28 13:06] Larpoux commented on #329
Are you sure to depend on 4.0.1+1 ?
Did you do a flutter pub get ?
did you do a `pod install` ?

[2020-04-28 13:16] Sansuihe commented on #329
flutter_sound: 4.0.1+1
I have already&nbsp;flutter pub get
Running pod install

but&nbsp;I hope you can help me solve the following problems

Automatically signing iOS for device deployment using specified development team in Xcode project: ZU6SQ65422
Running pod install...&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

[2020-04-28 13:47] Larpoux commented on #317
Hi Sander,

I have just released Flutter Sound 4.0.2+2.
This version is supposed to fix the access to the global variable `androidActivity` which was null and crashes in the routine `onCreate()`

[2020-04-28 14:17] develappsoftwaresolutions commented on #278
Hi Larpoux, I'm facing the same issue.
Kindly provide an update on this, when can we expect this fix?

[2020-04-28 14:19] chpraneeth1539 commented on #278
Hi Larpoux, I'm facing the same issue.
Kindly provide an update on this, when can we expect this fix?

[2020-04-28 15:46] zhangruiyu commented on #324
can someone help me 0-0

[2020-04-28 16:44] Larpoux commented on #329
Here is my Podfile. It works fine for my own App :
[code]

[2020-04-28 16:54] Larpoux commented on #329
Perhaps you have something wrong with your network :
[code]

[2020-04-28 19:01] lucygeneric commented on #140
This needs to be in the docs!

[2020-04-28 20:11] chpraneeth1539 opened #330 "IOS - Resume recording not working"
### Version of flutter_sound
4.0.1+1

## flutter doctor

### Platforms you faced the error (IOS or Android or both?)
IOS only
### Expected behavior

### Actual behavior
When i have tried to call resume recording it was calling stopRecorder(). But this was not in case of android.

### Tested environment (Emulator? Real Device?)
IOS 13.4 - XS 10 Real Device

### Steps to reproduce the behavior
1. Ca

[2020-04-28 20:13] Larpoux commented on #330
We need your logs

[2020-04-28 20:22] chpraneeth1539 commented on #330
Do you mean the logs that i get when i use flutter build ios ??
actually I'm new to coding/development.

[2020-04-28 20:24] Larpoux commented on #330
The logs that you get when running on iOS and resume recording does not work.

[2020-04-29 01:54] Sansuihe commented on #329
Thank you very much for taking time out of your busy schedule to help me solve these problems.I also think this is due to my network, and I can't download these ios dependencies, but I'm surprised that I can use it properly on android.
------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Larpoux"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月29日(星期三) 凌晨0:54
收件人:&nbsp;"dooboolab/flutte

[2020-04-29 05:26] chpraneeth1539 commented on #330
Future<bool> resumeRecorder() async {
    bool b = await invokeMethod('resumeRecorder', <String, dynamic>{}) as bool;
    if (!b) {
      await stopRecorder();
      return false;
    }
    recorderState = t_RECORDER_STATE.IS_RECORDING;
    return true;
  }

I tried to Debug the issue. Can you please tell me in what cases does this function returns false.

[2020-04-29 08:36] Sansuihe commented on #329
Hello, I have configured the network dependency according to your solution and downloaded it, but I encountered a new problem when I installed it again

Running "flutter pub get" in app_front...&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;5.2s
Launching lib/main.dart on iPhone 11 Pro Max in debug mode...
Running pod install...&nbsp; &nbsp; &nbsp;

[2020-04-29 08:43] Larpoux commented on #329
The minimum ios version target must be 9.3
You can easyly change that in Xcode, `General` tab.

[2020-04-29 09:06] Sansuihe commented on #329
Thank you very much.I did what you said, and now I can use it normally.I'm terribly sorry to have bothered you so long

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Larpoux"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月29日(星期三) 下午4:44
收件人:&nbsp;"dooboolab/flutter_sound"<flutter_sound@noreply.github.com&gt;;
抄送:&nbsp;"是你的三岁何🍁"<1436128642@qq.com&gt;;"Author"<author@noreply.gith

[2020-04-29 09:08] Larpoux commented on #329
No problem. You are welcome.
I hope you will be happy with Flutter Sound.
Do not hesitate to come back if you get other issues.

[2020-04-29 09:08] #329 closed

[2020-04-29 14:28] Larpoux commented on #273
Could you try new version ^4.0.1  , and reopen this issue if you think that this point is not correctly addressed ?

[2020-04-29 14:28] #273 closed

[2020-04-29 14:46] Larpoux commented on #317
@Sander876 ,

Please re-open this issue if not fixed in 4.0.2+2

[2020-04-29 14:52] Larpoux commented on #307
What about this PR (Problem Report) ?
Is it still relevant in 4.2.2 ?
Are you sure to `await` initialize() before trying to playback your record ?

[2020-04-29 14:58] Larpoux commented on #330
This function returns `false` when the **resume()** cannot be done.
For example if your playback is not in a `pause` state.

[2020-04-29 15:01] Larpoux commented on #328
Hi everybody.
I suggest to remove this dependency in a future Flutter Sound version `5.x.x`.
It will be a breaking change.
What do you think ? Is it Flutter Sound responsibility to take care of the recording permission ?

[2020-04-29 15:04] Larpoux commented on #324
Do you try to record a new file, or the file which is currently played back ?

[2020-04-29 15:40] chpraneeth1539 commented on #330
(flutterSoundRecorder.isRecording)
? FloatingActionButton(
heroTag: 'Record',
child: Icon(Icons.pause, color: Colors.red),
backgroundColor: Colors.white,
elevation: 1,
onPressed: () {
pauseRecorder();
})
: FloatingActionButton(
heroTag: 'Record',
child: Icon(Icons.mic_none),
backgroundColor: Colors.red,
elevation: 1,
onPressed: () {
if (flutterSoundPlayer.isPlaying || flutterSoundPlayer.isPaused)

[2020-04-29 15:42] chpraneeth1539 commented on #330
my other related functions goes as below-
Future<void> pauseRecorder() async {
    await flutterSoundRecorder.pauseRecorder();
    setState(() {
      animationControllerWave.reverse();
      _stopWatchTimer.onExecute.add(StopWatchExecute.stop);
    });
  }

  Future<void> resumeRecorder() async {
    await flutterSoundRecorder.resumeRecorder();
    setState(() {
      animationControllerWave.forw

[2020-04-29 15:44] Larpoux commented on #330
[code]
If  flutterSoundPlayer is Paused then you stop it.
Of course, the following test does nothing, because flutterSoundPlayer is stopped. It cannot be paused anymore.

[2020-04-29 15:53] chpraneeth1539 commented on #330
But the issue i had was with resumeRecorder().

This is the scenario i had noticed with the same code-

On Android-
1. started recording
2. paused recording
3. played the recorded track
4. paused the playing track
5. resumed the recording - this returned true

These were working as expected in android

The same steps when executed on IOS
5th step returned false.
Note: In brief, when the track is n

[2020-04-29 16:23] chpraneeth1539 commented on #330
class Record extends StatefulWidget {
  Record({Key key, this.title}) : super(key: key);

  final String title;

  @override
  RecordTrack createState() => RecordTrack();
}

class RecordTrack extends State<Record> with TickerProviderStateMixin {

  FlutterSound flutterSound = new FlutterSound();

  String _trackPath;

  double _recorderPosition, _playerPosition;

  StreamSubscription _playerSubscr

[2020-04-29 16:24] Larpoux commented on #330
Please, fix your code which is bad,
and send us your logs if you still have problems.

[2020-04-29 20:33] Sander876 commented on #317
@Larpoux Just wanted to let you know that since I removed the intent filters for the Android manifest the crash didn't happen anymore. I won't be able to check out the new fix you published yet, since I'v released so many new versions in a short time to fix the crash I'll let some time pass before the next update.
Maybe there is another option to not have the intent filters? Might be a bit weird t

[2020-04-29 20:46] Larpoux commented on #317
Yes! this is very dirty. Unfortunately I do not master this concept of "intent", and I do not know how to get rid of those f***ing lines in the Manifest.

[2020-04-29 21:10] Sander876 commented on #317
Good point, you do seem to use the intent filters in your code. It would seem there are a couple of different usages for flutter_sound with different requirements. I gave it some thought but can't come up with a solution immediately. Best for now would be to check indeed inside the service if it was started on purpose and if not exit the service immediately.

[2020-04-30 05:08] kame5 commented on #276
Just question, will PCM on Andriod be released soon or not?
I need a lossless encoder to do speech analysis.

[2020-04-30 06:52] davewang opened #331 "When project already dependent flutter-ffmpeg library and import flutter_sound has conflicting"
[!] The 'Pods-Runner' target has frameworks with conflicting names: mobileffmpeg.framework, libavcodec.framework, libavdevice.framework, libavfilter.framework, libavformat.framework, libavutil.framework, libswresample.framework, and libswscale.framework.

[2020-04-30 08:37] #331 closed

[2020-04-30 09:20] Larpoux commented on #276
This is the first feature on top of the list that I want to develop.
This is bad that PCM is almost completely supported except recording on Android.
Unfortunately I do not know if it will be difficult to implement. Actually, I think that I will have to say "good-bye" to the f***ing Android Media Player.
So I cannot tell you the delay waiting.

Thank you to have confirmed that PCM on Android is a

[2020-04-30 12:50] Larpoux commented on #307
Fixed in 4.0.3+1.
Please reopen this issue if this Problem occurs again.

[2020-04-30 12:50] #307 closed

[2020-04-30 12:57] Larpoux commented on #278
Fixed in Release Version 4.0.3+1

Please re-open this issue if still problems in this area.

[2020-04-30 12:57] #278 closed

[2020-04-30 13:00] Larpoux commented on #330
Please, fix your code which is incorrect.
Please re-open this issue and send us your logs if you still have problems.

[2020-04-30 14:19] erf opened #332 "macos support?"
do you plan macOS support?

[2020-04-30 14:23] Larpoux commented on #332
We envisage that, because **Macos** should not too different than ios.
But we have limited human resources and we will probably look to a **Web** support before.
Nothing is really planed today.

[2020-04-30 17:01] chpraneeth1539 commented on #330
Where can i find my logs?

[2020-04-30 17:05] chpraneeth1539 commented on #330
when i run my app, the console shows only the things that i have printed using PRINT
I have set my flutter console to show verbose logs

I don't see any error in those logs

actually I'm not getting any error, just that the resume recording is returning false. even when my player is in a stopped state and also I have checked before resuming if the recorder state is in a paused state.

[2020-05-01 13:43] #332 closed

[2020-05-02 07:18] chpraneeth1539 commented on #292
Hi I am facing the same issue.

@Larpoux  as @claptimes5  mentioned we are not getting any logs, even I have reported the same issue recently and mentioned that I was not getting any logs. you have closed the issue as i was not able to provide logs.

I have the same issue on my IOS device

[2020-05-02 09:02] Larpoux commented on #317
Must clean the Android Manifest when the App does not need TrackPlayer

[2020-05-02 09:09] Larpoux commented on #330
Linked to #292

[2020-05-02 09:10] Larpoux commented on #292
Linked to #330

[2020-05-02 09:22] bsutton commented on #317
Couldn't we make the code smarter so the code triggered by the manifest
does minimal work until a track is played?

Requiring  the user to edit the manifest feels ugly.

On Sat, 2 May 2020, 7:03 pm Larpoux, <notifications@github.com> wrote:

[2020-05-02 14:50] ghost opened #334 "[BUG] AndroidAlarmManager.initialize messes up flutter_sound recording/playing"
## Flutter Sound Version :
- flutter_sound: ^4.0.0
----------------------------------------------------------
## Severity
- Crash
--------------------------------------------------------

## Platforms you faced the error
- Android Emulator
----------------------------------------------

## Logs

[code]
or with recorder:
[code]
-----------------------------------------------

## flutter pub deps :

[2020-05-02 19:56] chpraneeth1539 commented on #330
Can you please let me know how can i help you to get this bug resolved. What additional details required let me know ill provide them as much as possible.

To my knowledge and exp this is one of the best plugins i have ever used. Please help in resolving this bug

[2020-05-03 07:51] Larpoux commented on #330
I found a little bug with the `resumeRecorder()` procedure.
This function should return a String (like `pauseRecorder()` ) and not a boolean.
I am going to fix that in next release.

To understand what is your problem, we need your logs.
This is very important.

[2020-05-03 08:03] chpraneeth1539 commented on #330
In all cases that I have tested, this function is returning false in the following case
- StartRecorder()
- PauseRecorder()
- ResumeRecorder() - in this step, the resumeRecorder() retuns true and resumes the recording
- StartPlayer()
- StopPlayer() or PausePlayer()
- ResumeRecorder() - in this step, the resumeRecorder() retuns false and state goed to ISSTOPPED

[2020-05-03 08:06] Larpoux commented on #330
We cannot do anything without your logs.

[2020-05-03 08:21] chpraneeth1539 commented on #330
you can refer to the logs in #292, this is the only output we are getting in XCODE console. Anyways ill share once again if you need them

[2020-05-03 08:25] Larpoux commented on #330
Yes, please.

[2020-05-03 09:18] chpraneeth1539 commented on #292
<img width="747" alt="Screenshot 2020-05-03 at 2 48 24 PM" src="https://user-images.githubusercontent.com/31837107/80910450-27ec0980-8d4d-11ea-8da3-09f621839ebe.png">

[2020-05-03 09:20] chpraneeth1539 commented on #330
<img width="769" alt="Screenshot 2020-05-03 at 2 49 42 PM" src="https://user-images.githubusercontent.com/31837107/80910477-54078a80-8d4d-11ea-9c18-69798e8d76c0.png">

[2020-05-03 09:21] chpraneeth1539 commented on #330
For every method call, I have added print statements - return value and also printing the current state of recorder/player

[2020-05-03 09:22] Larpoux commented on #330
Thank you very much @chpraneeth1539 .
I am going to look to this.

[2020-05-03 11:33] maclarencn commented on #282
I met the same problem

[2020-05-03 13:54] Larpoux commented on #282
Linked to #292 and #330 :
I realize that there is actually a serious problem with 'resumeRecorder()`.
I am going to look to that, guys and girls.
But I am currently overbooked and I will work on that in a few days(less than one week).
Sorry for the inconvenient.

[2020-05-03 13:55] Larpoux commented on #330
Linked to #292 and #282 :
I realize that there is actually a serious problem with 'resumeRecorder()`.
I am going to look to that, guys and girls.
But I am currently overbooked and I will work on that in a few days(less than one week).
Sorry for the inconvenient.

[2020-05-03 13:56] Larpoux commented on #292
Linked to #282 and #330 :
I realize that there is actually a serious problem with 'resumeRecorder()`.
I am going to look to that, guys and girls.
But I am currently overbooked and I will work on that in a few days(less than one week).
Sorry for the inconvenient.

[2020-05-04 06:40] bsutton opened #335 "Proposal: remove all permission logic from flutter sound."
Flutter sound currently requires one or two permissions
1) microphone - always
2) external storage - some times.

Requesting permission causes flutter sound to display the OS specific permission dialogs.

When using flutter sound as an api there is an argument that should never display an UI unless explicitly requested to.

By allowing flutter sound to make the permissions requests we are taking c

[2020-05-04 06:44] 3mrdev opened #336 "warning: [deprecation] Builder(Context) in Builder has been deprecated [BUG]"
## Flutter Sound Version :

- **Released** or **Beta** version ?
Released

- Version number ?
flutter_sound: ^4.0.3+1

----------------------------------------------------------

## Severity

- Minor issue

warning: [deprecation] Builder(Context) in Builder has been deprecated

--------------------------------------------------------

## Platforms you faced the error

Android

--------------------

[2020-05-04 07:39] Larpoux commented on #335
Linked to #328

I completely agree with that.
I am just wondering what we must do when the App try to start a recorder and the permission has not been allowed :
Throw an exception ?

[2020-05-04 11:03] bsutton commented on #335
Yes just throw an exception.

I will work on the changes tomorrow.

On Mon, 4 May 2020, 5:40 pm Larpoux, <notifications@github.com> wrote:

[2020-05-04 11:47] Larpoux commented on #330
@chpraneeth1539 :
Looking to your logs, it seems that you have a serious bug in `cucuckoo/Record.dart` at line 107 : you call method `currentPosision` on a null object.
This is probably the reason of your problems.

Please, fix your code and reopen this issue if you still have problems.

[2020-05-04 11:55] Larpoux commented on #292
@claptimes5  :
it seems that you have a problem with your code :
[code]
You call `currentPosition` on a null object : `my_app/pages/recording_screen.dart:256`

[2020-05-04 11:55] #292 closed

[2020-05-04 11:58] Larpoux commented on #282
@maclarencn : Is it possible to have your logs and detail what is your problem ?.
Actually I cannot reproduce problems.

[2020-05-04 12:21] chpraneeth1539 commented on #330
Ideally this should no return null, because when i called resumeRecorder -> this is making the return value of onRecorderStateChanged null. Which is not right.

in parallel lets take the same scenario for flutterSoundPlayer
When i pause the player and then resume player the position was not returning null at this point.

[2020-05-04 12:26] Larpoux commented on #330
I agree that the recorder and the player should be homogeneous.
What is your line 107 ?

[2020-05-04 12:29] chpraneeth1539 commented on #330
<img width="991" alt="Screenshot 2020-05-04 at 5 59 49 PM" src="https://user-images.githubusercontent.com/31837107/80965927-0d8b5c00-8e31-11ea-9fa5-c7f142775b4c.png">

[2020-05-04 12:34] chpraneeth1539 commented on #330
the line 107 you are refferring to is 104 now

[2020-05-04 12:34] Larpoux commented on #330
Oh, Thank you very much.
I see the problem, now.
I am going to fix that.
Thank you for your help (others developers have the same problem than you).

[2020-05-04 12:37] chpraneeth1539 commented on #330
is this the reason why the resume recorder is returning false? (as it cannot find the current recorder position?)

[2020-05-04 12:42] Larpoux commented on #330
There was a little problem with resumeRecorder() : it should return a String (as pauseRecorder()) but not a boolean. I have just fixed that.

But the problem with your 'e' variable which is null is more serious.
I am looking to the problem, and see if it can be fixed in 4.x.x, or if we must wait the version 5.x.x .

I will give you some news in some hours.
Thank you again for your patience

[2020-05-04 13:04] chpraneeth1539 commented on #330
It is not just that resumeRecorder() is returning true/false. The recording is not getting resumed, instead it is getting stopped as this was returning false.
<img width="637" alt="Screenshot 2020-05-04 at 6 33 21 PM" src="https://user-images.githubusercontent.com/31837107/80968530-bdfb5f00-8e35-11ea-997a-5a1aeda669c1.png">

[2020-05-04 13:06] Larpoux commented on #330
Yes, I understand.

Can you confirm that your problems are on iOS ?

[2020-05-04 13:07] chpraneeth1539 commented on #330
Yes only on IOS i have faced this issue.

[2020-05-04 13:18] Larpoux commented on #330
In flutterSoundRecorder :
[code]
This is the reason of your `(e)` which is null.
I wanted to remove that line, but I had problems with backward compatibility.
I will remove this line in 5.x.x.

But this is not the reason of your recorder being closed.

[2020-05-04 13:27] Larpoux commented on #330
Please, could you try 4.0.4+1  after protecting your code :
[code]

[2020-05-04 13:50] Larpoux commented on #282
DBpeakChanged is now correctly restored after a resume() on Android.
4.0.4+1

[2020-05-04 13:50] #282 closed

[2020-05-04 13:55] Larpoux commented on #276
on Flutter Sound V5.0.0 it will be possible to record PCM-linear16 (raw, Wave or AIFF).
It will be also possible to record raw PCM to a Dart Stream, instead of a file.
This version is supposed to be released sometime next week.

What is your base64 conversion ? Do you think it is Flutter Sound responsability to take care of that ? Or is this the App responsability ?

[2020-05-04 14:02] Larpoux commented on #210
Flutter Sound V5.0.0 will allow Recording Raw PCM to a Dart Stream.
This version is supposed to be released sometimes next week.

Is this what you are expected from Flutter Sound ?
Do you also need to playback from a Dart Stream ?

[2020-05-04 15:03] Larpoux commented on #308
Flutter Sound V5.x.x will be able to record PCM (raw, Wave or AIFF).
It will be also able to record FLAC on Ios (but still probably not on Android)
This version is supposed to be released sometime next week.

Is it what you expect from Flutter Sound ?